---
layout:           default
title:            Settings
permalink:        /settings/
comments:         true
previous_section: /getting-started/
next_section:     /validators/
sections:
    - title:  excluded
      anchor: excluded
    - title:  feedbackIcons
      anchor: feedback-icons
    - title:  live
      anchor: live
    - title:  message
      anchor: message
    - title:  submitButtons
      anchor: submit-buttons
    - title:  submitHandler
      anchor: submit-handler
    - title:  threshold
      anchor: threshold
    - title:  trigger
      anchor: trigger
    - title:  fields
      anchor: fields
---

<section class="doc-heading">
    <h1>Settings</h1>
    {% include edit-button.html %}
</section>

<p>The BootstrapValidator plugin can be called with the full options as sample code below:</p>

<pre><code class="javascript">$(formSelector).bootstrapValidator({
    excluded: [':disabled', ':hidden', ':not(:visible)'],
    feedbackIcons: {
        valid: 'glyphicon glyphicon-ok',
        invalid: 'glyphicon glyphicon-remove',
        validating: 'glyphicon glyphicon-refresh'
    },
    live: 'enabled',
    message: 'This value is not valid',
    submitButtons: 'button[type="submit"]',
    submitHandler: null,
    trigger: null,
    fields: ...
});</code></pre>

<p>You can use HTML attributes for <code>form</code> to set the options:</p>
<table class="table table-condensed">
    <thead>
        <tr>
            <th>Option</th>
            <th>Equivalent HTML attribute</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><code>excluded</code></td>
            <td><code>data-bv-excluded</code></td>
        </tr>
        <tr>
            <td><code>feedbackIcons</code></td>
            <td><code>data-bv-feedbackicons-valid</code>, <code>data-bv-feedbackicons-invalid</code>, <code>data-bv-feedbackicons-validating</code></td>
        </tr>
        <tr>
            <td><code>live</code></td>
            <td><code>data-bv-live</code></td>
        </tr>
        <tr>
            <td><code>message</code></td>
            <td><code>data-bv-message</code></td>
        </tr>
        <tr>
            <td><code>submitButtons</code></td>
            <td><code>data-bv-submitbuttons</code></td>
        </tr>
        <tr>
            <td><code>submitHandler</code></td>
            <td>n/a</td>
        </tr>
        <tr>
            <td><code>threshold</code></td>
            <td><code>data-bv-threshold</code></td>
        </tr>
        <tr>
            <td><code>trigger</code></td>
            <td><code>data-bv-trigger</code></td>
        </tr>
        <tr>
            <td><code>fields</code></td>
            <td>n/a</td>
        </tr>
    </tbody>
</table>

<p>So the Javascript code above is equivalent to the following usage:</p>

<pre><code class="xml javascript">&lt;form data-bv-message="This value is not valid"
      data-bv-feedbackicons-valid="glyphicon glyphicon-ok"
      data-bv-feedbackicons-invalid="glyphicon glyphicon-remove"
      data-bv-feedbackicons-validating="glyphicon glyphicon-refresh"
      data-bv-submitbuttons='button[type="submit"]'
      data-bv-live="enabled">
    ...
&lt;/form>

&lt;script>
$(document).ready(function() {
    $(formSelector).bootstrapValidator({
        submitHandler: null,
        fields: ...
    });
});
&lt;/script></code></pre>

<p>It's also possible to set validator options for each field using HTML attributes. Look at each validator documentation for more details.</p>

<section id="excluded">
    <h2>excluded</h2>
    <p>Indicate fields which won't be validated.</p>
    <p>By default, the plugin will not validate the following kind of fields:</p>
    <ul class="doc-list">
        <li>disabled</li>
        <li>hidden</li>
        <li>invisible</li>
    </ul>
    <p>The setting consists of jQuery filters. Accept 3 formats:</p>
    <table class="table table-condensed">
        <thead>
            <tr>
                <th>Format</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>String</td>
                <td>
                    <p>Filters are separated by a comma. For example:</p>
                    <pre><code>':disabled, :hidden, :not(:visible)'</code></pre>
                </td>
            </tr>
            <tr>
                <td>Array of strings</td>
                <td>
                    <p>Each element is a filter. For example:</p>
                    <pre><code class="javascript">[':disabled', ':hidden', ':not(:visible)']</code></pre>
                </td>
            </tr>
            <tr>
                <td>Array of strings and callback functions</td>
                <td>
                    <p>The callback function has format as below:</p>
                    <pre><code class="javascript">function($field, validator) {
    // $field is jQuery object representing the field element
    // validator is the BootstrapValidator instance
    // return true or false;
}</code></pre>
                    <p>For example:</p>
                    <pre><code class="javascript">[':disabled', ':hidden', function($field, validator) {
    // Do not validate invisible element
    return !$field.is(':visible');
}]</code></pre>
                </td>
            </tr>
        </tbody>
    </table>
    <p>The <code>excluded</code> option is usually used when we need to validate the field generated by other UI plugin.</p>
    <p>For an usage, you can take a look at:</p>
    <ul class="doc-list">
        <li><a href="/examples/#tab">Tab</a> example</li>
        <li><a href="/examples/#raty">Raty</a> example</li>
    </ul>
</section>

<section id="feedback-icons">
    <h2>feedbackIcons</h2>
    <p>Indicate valid/invalid/validating icons based on the field validity.</p>
    <p>This feature requires <a href="http://getbootstrap.com/css/#forms-control-validation">Bootstrap v3.1.0 or later</a>.
    Since Bootstrap doesn't provide any methods to know its version, this option cannot be on/off automatically.
    In other word, to use this feature you have to upgrade your Bootstrap to v3.1.0 or later.</p>

    <p>It supports <a href="http://getbootstrap.com/components/#glyphicons">Glyphicons</a> (included in Bootstrap):</p>

    <pre><code class="javascript">feedbackIcons: {
    valid: 'glyphicon glyphicon-ok',
    invalid: 'glyphicon glyphicon-remove',
    validating: 'glyphicon glyphicon-refresh'
}</code></pre>

    <p>and <a href="http://fontawesome.io/icons">FontAwesome</a> icons (don't forget to insert FontAwesome CSS in your <code>head</code>):</p>

    <pre><code class="javascript">feedbackIcons: {
    valid: 'fa fa-check',
    invalid: 'fa fa-times',
    validating: 'fa fa-refresh'
}</code></pre>

    <p>By default, these icons are not set.</p>
    <p>There are two popular questions with the feedback icon usage:</p>

    <section>
        <p class="doc-box-warning">The feedback icons aren't shown when using custom Bootstrap theme from <a href="http://bootswatch.com/">BootsWatch</a></p>

        <p>Some BootsWatch themes override some CSS styles causing feedback icon invisible to your eyes. For instance, the <a href="http://bootswatch.com/flatly/">Flatly theme</a> set the feedback icon color to <code>#FFF</code>.</p>
        <p>To fix this, you can simply add some CSS to your <code>head</code>, right before the BootsWatch theme CSS, to reset the feedback icons color:</p>
        <pre><code class="xml">&lt;link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootswatch/3.1.1/flatly/bootstrap.min.css">
&lt;style type="text/css">
.has-error .form-control-feedback {
    color: #E74C3C;
}
.has-success .form-control-feedback {
    color: #18BCA0;
}
&lt;/style></code></pre>
    </section>

    <section>
        <p class="doc-box-warning">The feedback icons aren't shown properly for some elements such as select box or when using with other element such as <a href="http://eonasdan.github.io/bootstrap-datetimepicker/">Bootstrap Datetime Picker</a>, <a href="http://mjolnic.github.io/bootstrap-colorpicker/">Bootstrap Color Picker</a>, etc.</p>
        <p>Bootstrap defines feedback icon position as following:</p>
        <pre><code class="css">.form-horizontal .has-feedback .form-control-feedback {
    top: 0;
    right: 15px;
}</code></pre>
                <p>You can override this to adjust feedback icon position:</p>
                <pre><code class="css">.form-horizontal .has-feedback .form-control-feedback {
    top: 0;
    right: -15px;
}
.form-horizontal .has-feedback .input-group .form-control-feedback {
    top: 0;
    right: -30px;
}</code></pre>
        <link href="/vendor/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
        <style type="text/css">
        #feedbackIconForm .has-feedback .form-control-feedback {
            top: 0;
            right: -15px;
        }
        #feedbackIconForm .has-feedback .input-group .form-control-feedback {
            top: 0;
            right: -30px;
        }
        </style>

        <div class="doc-example">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#feedbackicon-form-tab" data-toggle="tab">Try it</a></li>
                <li><a href="#feedbackicon-html-tab" data-toggle="tab">HTML</a></li>
                <li><a href="#feedbackicon-js-tab" data-toggle="tab">JS</a></li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane active" id="feedbackicon-form-tab">
                    <form id="feedbackIconForm" class="form-horizontal">
                        <div class="form-group">
                            <label class="col-lg-3 control-label">Full name</label>
                            <div class="col-lg-5">
                                <input type="text" class="form-control" name="fullName" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">Gender</label>
                            <div class="col-lg-5">
                                <select class="form-control" name="gender">
                                    <option value="">Choose gender</option>
                                    <option value="male">Male</option>
                                    <option value="female">Female</option>
                                    <option value="other">Other</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">Date of birth</label>
                            <div class="col-lg-5">
                                <div class="input-group date" id="dobPicker" data-date-format="YYYY/DD/MM">
                                    <input type="text" class="form-control" name="dob" />
                                    <span class="input-group-addon"><span class="glyphicon-calendar glyphicon"></span></span>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="tab-pane" id="feedbackicon-html-tab">
                    <pre><code class="xml">&lt;!-- Include CSS required by Bootstrap Datetime Picker -->
&lt;link href="/vendor/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />

<span class="doc-example-note">&lt;!-- Override feedback icon position -->
&lt;style type="text/css">
#feedbackIconForm .has-feedback .form-control-feedback {
    top: 0;
    right: -15px;
}
#feedbackIconForm .has-feedback .input-group .form-control-feedback {
    top: 0;
    right: -30px;
}
&lt;/style></span>
&lt;form id="feedbackIconForm" class="form-horizontal">
    &lt;div class="form-group">
        &lt;label class="col-lg-3 control-label">Full name&lt;/label>
        &lt;div class="col-lg-5">
            &lt;input type="text" class="form-control" name="fullName" />
        &lt;/div>
    &lt;/div>
    &lt;div class="form-group">
        &lt;label class="col-lg-3 control-label">Gender&lt;/label>
        &lt;div class="col-lg-5">
            &lt;select class="form-control" name="gender">
                &lt;option value="">Choose gender&lt;/option>
                &lt;option value="male">Male&lt;/option>
                &lt;option value="female">Female&lt;/option>
                &lt;option value="other">Other&lt;/option>
            &lt;/select>
        &lt;/div>
    &lt;/div>
    &lt;div class="form-group">
        &lt;label class="col-lg-3 control-label">Date of birth&lt;/label>
        &lt;div class="col-lg-5">
            &lt;div class="input-group date" id="dobPicker" data-date-format="YYYY/DD/MM">
                &lt;input type="text" class="form-control" name="dob" />
                &lt;span class="input-group-addon">
                    &lt;span class="glyphicon-calendar glyphicon">&lt;/span>
                &lt;/span>
            &lt;/div>
        &lt;/div>
    &lt;/div>
&lt;/form></code></pre>
                </div>

                <div class="tab-pane" id="feedbackicon-js-tab">
                    <pre><code class="xml javascript">&lt;!-- Include JS required by Bootstrap Datetime Picker -->
&lt;script src="/vendor/momentjs/moment.min.js">&lt;/script>
&lt;script src="/vendor/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js">&lt;/script>
&lt;script>
$(document).ready(function() {
    $('#dobPicker')
        .datetimepicker({
            pickTime: false
        })
        .on('dp.change dp.show', function(e) {
            $('#feedbackIconForm')
                .data('bootstrapValidator')
                .updateStatus('dob', 'NOT_VALIDATED', null)
                .validateField('dob');
        });
    $('#feedbackIconForm').bootstrapValidator({
        message: 'This value is not valid',
        feedbackIcons: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
            fullName: {
                validators: {
                    notEmpty: {
                        message: 'The full name is required and cannot be empty'
                    }
                }
            },
            gender: {
                validators: {
                    notEmpty: {
                        message: 'The gender is required and cannot be empty'
                    }
                }
            },
            dob: {
                validators: {
                    notEmpty: {
                        message: 'The date of birth is required and cannot be empty'
                    },
                    date: {
                        format: 'YYYY/DD/MM',
                        message: 'The value is not a valid date'
                    }
                }
            }
        }
    });
});
&lt;/script></code></pre>
                </div>
            </div>
        </div>
    </section>
</section>

<section id="live">
    <h2>live</h2>

    <p>Live validating mode. Can be one of 3 values:</p>

    <table class="table table-condensed">
        <thead>
            <tr>
                <th>Value</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><code>enabled</code></td>
                <td>The plugin validates fields as soon as they are changed</td>
            </tr>
            <tr>
                <td><code>disabled</code></td>
                <td>Disable the live validating. The error messages are only shown after the form is submitted</td>
            </tr>
            <tr>
                <td><code>submitted</code></td>
                <td>The live validating is enabled after the form is submitted</td>
            </tr>
        </tbody>
    </table>

    <p>You can set the live validating mode by using the <a href="/api/#set-live-mode">setLiveMode()</a> method.</p>
</section>

<section id="message">
    <h2>message</h2>
    <p>The default error message for all fields. You can specify the error message for any fields.</p>
</section>

<section id="submit-buttons">
    <h2>submitButtons</h2>
    <p>The submit buttons selector. These buttons will be disabled when the form input are invalid.</p>
</section>

<section id="submit-handler">
    <h2>submitHandler</h2>
    <p>Custom submit handler:</p>
    <pre><code class="javascript">submitHandler: function(validator, form, submitButton) {
}</code></pre>

    <table class="table table-condensed">
        <thead>
            <tr>
                <th>Parameter</th>
                <th>Type</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><code>validator</code></td>
                <td>BootstrapValidator</td>
                <td>The instance of BootstrapValidator</td>
            </tr>
            <tr>
                <td><code>form</code></td>
                <td>jQuery</td>
                <td>Representing the current form</td>
            </tr>
            <tr>
                <td><code>submitButton</code></td>
                <td>jQuery</td>
                <td>Representing the submit button which is clicked</td>
            </tr>
        </tbody>
    </table>

    <p>This option is useful when you want to use Ajax to submit the form data:</p>

    <pre><code class="javascript">submitHandler: function(validator, form, submitButton) {
    // Use Ajax to submit form data
    $.post(form.attr('action'), form.serialize(), function(result) {
        // ... process the result ...
    }, 'json');
}</code></pre>

    <p>By default, <code>submitHandler</code> is <code>null</code>.</p>

    <p>If you want to submit the form inside your custom submit handler, use the <a href="/api/#default-submit"><code>defaultSubmit()</code></a> method:</p>
    <pre><code class="javascript">submitHandler: function(validator, form, submitButton) {
    // Do your task
    // ...
    // Submit the form
    validator.defaultSubmit();
}</code></pre>
</section>

<section id="threshold">
    <h2>threshold</h2>
    <p>The field will not be live validated if its length is less than this number of characters. You also can set this option for each field.</p>

    <div class="doc-example">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#threshold-form-tab" data-toggle="tab">Try it</a></li>
            <li><a href="#threshold-html-tab" data-toggle="tab">HTML</a></li>
            <li><a href="#threshold-js-tab" data-toggle="tab">JS</a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="threshold-form-tab">
                <form id="thresholdForm" class="form-horizontal">
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Full name</label>
                        <div class="col-lg-5">
                            <input type="text" class="form-control" name="fullname" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Gender</label>
                        <div class="col-lg-5">
                            <div class="radio">
                                <label>
                                    <input type="radio" name="gender" value="male" /> Male
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="gender" value="female" /> Female
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="gender" value="other" /> Other
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Phone number</label>
                        <div class="col-lg-5">
                            <input type="text" class="form-control" name="phone" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Address</label>
                        <div class="col-lg-5">
                            <input type="text" class="form-control" name="address" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-9 col-lg-offset-3">
                            <button type="submit" class="btn btn-primary">Validate</button>
                        </div>
                    </div>
                </form>
            </div>

            <div class="tab-pane" id="threshold-html-tab">
                <pre><code class="xml">&lt;form id="thresholdForm" class="form-horizontal">
    &lt;div class="form-group">
        &lt;label class="col-lg-3 control-label">Full name&lt;/label>
        &lt;div class="col-lg-5">
            &lt;input type="text" class="form-control" name="fullname" />
        &lt;/div>
    &lt;/div>

    &lt;div class="form-group">
        &lt;label class="col-lg-3 control-label">Gender&lt;/label>
        &lt;div class="col-lg-5">
            &lt;div class="radio">
                &lt;label>
                    &lt;input type="radio" name="gender" value="male" /> Male
                &lt;/label>
            &lt;/div>
            &lt;div class="radio">
                &lt;label>
                    &lt;input type="radio" name="gender" value="female" /> Female
                &lt;/label>
            &lt;/div>
            &lt;div class="radio">
                &lt;label>
                    &lt;input type="radio" name="gender" value="other" /> Other
                &lt;/label>
            &lt;/div>
        &lt;/div>
    &lt;/div>

    &lt;div class="form-group">
        &lt;label class="col-lg-3 control-label">Phone number&lt;/label>
        &lt;div class="col-lg-5">
            &lt;input type="text" class="form-control" name="phone" />
        &lt;/div>
    &lt;/div>

    &lt;div class="form-group">
        &lt;label class="col-lg-3 control-label">Address&lt;/label>
        &lt;div class="col-lg-5">
            &lt;input type="text" class="form-control" name="address" />
        &lt;/div>
    &lt;/div>

    &lt;div class="form-group">
        &lt;div class="col-lg-9 col-lg-offset-3">
            &lt;button type="submit" class="btn btn-primary">Validate&lt;/button>
        &lt;/div>
    &lt;/div>
&lt;/form></code></pre>
            </div>

            <div class="tab-pane" id="threshold-js-tab"><pre><code class="xml javascript">&lt;script>
$(document).ready(function() {
    $('#thresholdForm').bootstrapValidator({
        message: 'This value is not valid',
        feedbackIcons: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        <span class="doc-example-note">// Set default threshold for all fields. It is null by default
        threshold: 3,</span>
        fields: {
            fullname: {
                <span class="doc-example-note">threshold: 10,</span>
                validators: {
                    notEmpty: {
                        message: 'The full name is required'
                    }
                }
            },
            gender: {
                <span class="doc-example-note">// The threshold option does not effect to the elements
                // which user cannot type in, such as radio, checkbox, select, etc.
                threshold: 5,</span>
                validators: {
                    notEmpty: {
                        message: 'The summary is required'
                    }
                }
            },
            phone: {
                <span class="doc-example-note">threshold: 5,</span>
                validators: {
                    notEmpty: {
                        message: 'The phone number is required'
                    },
                    phone: {
                        message: 'The phone number is not valid',
                        country: 'US'
                    }
                }
            },
            address: {
                <span class="doc-example-note">// The threshold option is not set
                // It will be taken from the form option (which is 3 in this example)</span>
                validators: {
                    notEmpty: {
                        message: 'The city is required'
                    }
                }
            }
        }
    });
});
&lt;/script></code></pre>
            </div>
        </div>
    </div>
</section>

<section id="trigger">
    <h2>trigger</h2>
    <p>The event which is fired to validating all fields when the live validating mode is enabled. If you need multiple events are fired, then separate them by a space.</p>
    <p>It's also possible to set trigger option for each field. Look at the <a href="#fields">fields</a> section.</p>
</section>

<section id="fields">
    <h2>fields</h2>
    <p>The fields which need to be validated.</p>

    <pre><code class="javascript">fields: {
    ...
    &lt;fieldName>: {
        enabled: true,
        message: 'This value is not valid',
        container: null,
        selector: null,
        trigger: null,

        // Map the validator name with its options
        validators: {
            ...
            &lt;validatorName>: &lt;validatorOptions>
            ...
        }
    }
    ...
}</code></pre>
    <p>Replace the <code>&lt;fieldName></code> with the field name, which is the value of <code>name</code> attribute. If the field cannot be defined by the <code>name</code> attribute, you can use the <code>selector</code> option described below.</p>
    <p>The validator options for each field include:</p>

    <table class="table table-condensed">
        <thead>
            <tr>
                <th>Option</th>
                <th>Equivalent HTML attribute</th>
                <th>Type</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><code>enabled</code></td>
                <td>n/a</td>
                <td>Boolean</td>
                <td>Enable or disable the field validators</td>
            </tr>
            <tr>
                <td><code>message</code></td>
                <td><code>data-bv-message</code></td>
                <td>String</td>
                <td>The default error message for the field</td>
            </tr>
            <tr>
                <td><code>container</code></td>
                <td><code>data-bv-container</code></td>
                <td>String</td>
                <td>The CSS selector to indicate the element showing the error messages. Take a look at <a href="#container-example">container</a> example below.</td>
            </tr>
            <tr>
                <td><code>selector</code></td>
                <td><code>data-bv-selector</code></td>
                <td>String</td>
                <td>The CSS selector to indicate the field. It is used in case that it's not possible to use the <code>name</code> attribute for the field. Take a look at <a href="#selector-example">selector</a> example below.</td>
            </tr>
            <tr>
                <td><code>threshold</code></td>
                <td><code>data-bv-threshold</code></td>
                <td>String</td>
                <td>Do not live validate field until the length of field value exceed this number</td>
            </tr>
            <tr>
                <td><code>trigger</code></td>
                <td><code>data-bv-trigger</code></td>
                <td>String</td>
                <td>
                    <p>The field events (separated by a space) which are fired when the live validating mode is enabled.</p>
                    <p>For example, <code>trigger="focus blur"</code> means that the field will be validated when user focus on or leave the focus off the field. See the <a href="#trigger-example">trigger</a> example.</p>
                </td>
            </tr>
            <tr>
                <td><code>validators</code></td>
                <td>n/a</td>
                <td>Object</td>
                <td>Map the validator name <code>&lt;validatorName></code> with validator options <code>&lt;validatorOptions></code></td>
            </tr>
        </tbody>
    </table>

    <p>The <code>&lt;validatorName></code> can be the name of the built-in validator which are described in the <a href="/validators/">Validators</a> page.</p>

    <section id="container-example">
        <h3>container example</h3>

        <p>The following form illustrates an usage of the <code>container</code> option. The error messages are shown in the element defined by a CSS selector.</p>

        <div class="doc-example">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#container-form-tab" data-toggle="tab">Try it</a></li>
                <li><a href="#container-html-tab" data-toggle="tab">HTML</a></li>
                <li><a href="#container-js-tab" data-toggle="tab">JS</a></li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane active" id="container-form-tab">
                    <form id="containerForm" class="form-horizontal">
                        <div class="form-group">
                            <label class="col-lg-3 control-label">Full name</label>
                            <div class="col-lg-4">
                                <input type="text" class="form-control" name="firstName" placeholder="First name" />
                                <span class="help-block" id="firstNameMessage"></span>
                            </div>
                            <div class="col-lg-4">
                                <input type="text" class="form-control" name="lastName" placeholder="Last name" />
                                <span class="help-block lastNameMessage"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-3 control-label">Username</label>
                            <div class="col-lg-5">
                                <input type="text" class="form-control" name="username" />
                            </div>
                        </div>
                    </form>
                </div>

                <div class="tab-pane" id="container-html-tab">
                    <pre><code class="xml">&lt;form id="containerForm" class="form-horizontal">
    &lt;div class="form-group">
        &lt;label class="col-lg-3 control-label">Full name&lt;/label>
        &lt;div class="col-lg-4">
            &lt;input type="text" class="form-control" name="firstName" placeholder="First name" />
            <span class="doc-example-note">&lt;span class="help-block" id="firstNameMessage">&lt;/span></span>
        &lt;/div>
        &lt;div class="col-lg-4">
            &lt;input type="text" class="form-control" name="lastName" placeholder="Last name" />
            <span class="doc-example-note">&lt;span class="help-block lastNameMessage">&lt;/span></span>
        &lt;/div>
    &lt;/div>

    &lt;div class="form-group">
        &lt;label class="col-lg-3 control-label">Username&lt;/label>
        &lt;div class="col-lg-5">
            &lt;input type="text" class="form-control" name="username" />
        &lt;/div>
    &lt;/div>
&lt;/form></code></pre>
                </div>

                <div class="tab-pane" id="container-js-tab">
                    <pre><code class="xml javascript">&lt;script>
$(document).ready(function() {
    $('#containerForm').bootstrapValidator({
        fields: {
            firstName: {
                <span class="doc-example-note">container: '#firstNameMessage'</span>,
                validators: {
                    ...
                }
            },
            lastName: {
                <span class="doc-example-note">container: '.lastNameMessage'</span>,
                validators: {
                    ...
                }
            },
            username: {
                validators: {
                    ...
                }
            }
        }
    });
});
&lt;/script></code></pre>
                </div>
            </div>
        </div>
    </section>

    <section id="selector-example">
        <h3>selector example</h3>

        <p>Instead of using the <code>name</code> attribute, the following form uses the <code>selector</code> option to define the fields:</p>

        <div class="doc-example">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#selector-form-tab" data-toggle="tab">Try it</a></li>
                <li><a href="#selector-html-tab" data-toggle="tab">HTML</a></li>
                <li><a href="#selector-js-tab" data-toggle="tab">JS</a></li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane active" id="selector-form-tab">
                    <form id="paymentForm" class="form-horizontal">
                        <div class="form-group">
                            <label class="col-lg-3 control-label">Credit card number</label>
                            <div class="col-lg-5">
                                <input type="text" class="form-control" id="ccNumber" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-3 control-label">Expiration</label>
                            <div class="col-lg-2">
                                <input type="text" class="form-control" placeholder="Month" data-stripe="exp-month" />
                            </div>
                            <div class="col-lg-2">
                                <input type="text" class="form-control" placeholder="Year" data-stripe="exp-year" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-3 control-label">CVV</label>
                            <div class="col-lg-2">
                                <input type="text" class="form-control cvvNumber" />
                            </div>
                        </div>
                    </form>
                </div>

                <div class="tab-pane" id="selector-html-tab">
                    <pre><code class="xml">&lt;form id="paymentForm" class="form-horizontal">
    &lt;div class="form-group">
        &lt;label class="col-lg-3 control-label">Credit card number&lt;/label>
        &lt;div class="col-lg-5">
            &lt;input type="text" class="form-control" <span class="doc-example-note">id="ccNumber"</span> />
        &lt;/div>
    &lt;/div>

    &lt;div class="form-group">
        &lt;label class="col-lg-3 control-label">Expiration&lt;/label>
        &lt;div class="col-lg-2">
            &lt;input type="text" class="form-control" placeholder="Month" <span class="doc-example-note">data-stripe="exp-month"</span> />
        &lt;/div>
        &lt;div class="col-lg-2">
            &lt;input type="text" class="form-control" placeholder="Year" <span class="doc-example-note">data-stripe="exp-year"</span> />
        &lt;/div>
    &lt;/div>

    &lt;div class="form-group">
        &lt;label class="col-lg-3 control-label">CVV&lt;/label>
        &lt;div class="col-lg-2">
            &lt;input type="text" class="form-control <span class="doc-example-note">cvvNumber</span>" />
        &lt;/div>
    &lt;/div>
&lt;/form></code></pre>
                </div>

                <div class="tab-pane" id="selector-js-tab">
                    <pre><code class="xml javascript">&lt;script>
$(document).ready(function() {
    $('#paymentForm').bootstrapValidator({
        fields: {
            ccNumber: {
                <span class="doc-example-note">selector: '#ccNumber'</span>,
                validators: {
                    ...
                }
            },
            expMonth: {
                <span class="doc-example-note">selector: '[data-stripe="exp-month"]'</span>,
                validators: {
                    ...
                }
            },
            expYear: {
                <span class="doc-example-note">selector: '[data-stripe="exp-year"]'</span>,
                validators: {
                    ...
                }
            },
            cvvNumber: {
                <span class="doc-example-note">selector: '.cvvNumber'</span>,
                validators: {
                    ...
                }
            }
        }
    });
});
&lt;/script></code></pre>
                </div>
            </div>
        </div>

        <p>As you see, the field can be defined by a ID (<code>#ccNumber</code>), class (<code>.cvvNumber</code>) or attribute (<code>[data-stripe="exp-month"]</code>) selector.</p>
    </section>

    <section id="trigger-example">
        <h3>trigger example</h3>

        <p>In the following form, the <i>Title</i> field will be validated while user type any character (<code>trigger="keyup"</code>). The <i>Summary</i> field will be validated when user lose the focus (<code>trigger="blur"</code>).</p>

        <div class="doc-example">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#trigger-form-tab" data-toggle="tab">Try it</a></li>
                <li><a href="#trigger-html-tab" data-toggle="tab">HTML</a></li>
                <li><a href="#trigger-js-tab" data-toggle="tab">JS</a></li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane active" id="trigger-form-tab">
                    <form id="triggerForm" method="post" class="form-horizontal">
                        <div class="form-group">
                            <label class="col-lg-3 control-label">Title</label>
                            <div class="col-lg-5">
                                <input type="text" class="form-control" name="title" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-3 control-label">Summary</label>
                            <div class="col-lg-5">
                                <textarea rows="5" class="form-control" name="summary"></textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-3 control-label">Description</label>
                            <div class="col-lg-9">
                                <textarea rows="10" class="form-control" name="description"></textarea>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="tab-pane" id="trigger-html-tab">
                    <pre><code class="xml">&lt;form id="triggerForm" method="post" class="form-horizontal">
    &lt;div class="form-group">
        &lt;label class="col-lg-3 control-label">Title&lt;/label>
        &lt;div class="col-lg-5">
            &lt;input type="text" class="form-control" name="title" />
        &lt;/div>
    &lt;/div>

    &lt;div class="form-group">
        &lt;label class="col-lg-3 control-label">Summary&lt;/label>
        &lt;div class="col-lg-5">
            &lt;textarea rows="5" class="form-control" name="summary">&lt;/textarea>
        &lt;/div>
    &lt;/div>

    &lt;div class="form-group">
        &lt;label class="col-lg-3 control-label">Description&lt;/label>
        &lt;div class="col-lg-9">
            &lt;textarea rows="10" class="form-control" name="description">&lt;/textarea>
        &lt;/div>
    &lt;/div>
&lt;/form></code></pre>
                </div>

                <div class="tab-pane" id="trigger-js-tab">
                    <pre><code class="xml javascript">&lt;script>
$(document).ready(function() {
    $('#triggerForm').bootstrapValidator({
        message: 'This value is not valid',
        feedbackIcons: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
            title: {
                <span class="doc-example-note">trigger: 'keyup'</span>,
                validators: {
                    notEmpty: {
                        message: 'The title is required'
                    }
                }
            },
            summary: {
                <span class="doc-example-note">trigger: 'blur'</span>,
                validators: {
                    notEmpty: {
                        message: 'The summary is required'
                    }
                }
            },
            description: {
                validators: {
                    notEmpty: {
                        message: 'The description is required'
                    }
                }
            }
        }
    });
});
&lt;/script></code></pre>
                </div>
            </div>
        </div>
    </section>
</section>

<script src="/vendor/momentjs/moment.min.js"></script>
<script src="/vendor/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
<script>
$(document).ready(function() {
    $('#dobPicker')
        .datetimepicker({
            pickTime: false
        })
        .on('dp.change dp.show', function(e) {
            $('#feedbackIconForm')
                .data('bootstrapValidator')
                .updateStatus('dob', 'NOT_VALIDATED', null)
                .validateField('dob');
        });
    $('#feedbackIconForm').bootstrapValidator({
        message: 'This value is not valid',
        feedbackIcons: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
            fullName: {
                validators: {
                    notEmpty: {
                        message: 'The full name is required and cannot be empty'
                    }
                }
            },
            gender: {
                validators: {
                    notEmpty: {
                        message: 'The gender is required and cannot be empty'
                    }
                }
            },
            dob: {
                validators: {
                    notEmpty: {
                        message: 'The date of birth is required and cannot be empty'
                    },
                    date: {
                        format: 'YYYY/DD/MM',
                        message: 'The value is not a valid date'
                    }
                }
            }
        }
    });

    $('#containerForm').bootstrapValidator({
        message: 'This value is not valid',
        feedbackIcons: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
            firstName: {
                container: '#firstNameMessage',
                validators: {
                    notEmpty: {
                        message: 'The first name is required and cannot be empty'
                    }
                }
            },
            lastName: {
                container: '.lastNameMessage',
                validators: {
                    notEmpty: {
                        message: 'The last name is required and cannot be empty'
                    }
                }
            },
            username: {
                message: 'The username is not valid',
                validators: {
                    notEmpty: {
                        message: 'The username is required and cannot be empty'
                    },
                    stringLength: {
                        min: 6,
                        max: 30,
                        message: 'The username must be more than 6 and less than 30 characters long'
                    }
                }
            }
        }
    });

    $('#paymentForm').bootstrapValidator({
        feedbackIcons: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
            ccNumber: {
                selector: '#ccNumber',
                validators: {
                    notEmpty: {
                        message: 'The credit card number is required'
                    },
                    creditCard: {
                        message: 'The credit card number is not valid'
                    }
                }
            },
            expMonth: {
                selector: '[data-stripe="exp-month"]',
                validators: {
                    notEmpty: {
                        message: 'The expiration month is required'
                    },
                    digits: {
                        message: 'The expiration month can contain digits only'
                    },
                    callback: {
                        message: 'Expired',
                        callback: function(value, validator) {
                            value = parseInt(value, 10);
                            var year         = validator.getFieldElements('expYear').val(),
                                currentMonth = new Date().getMonth() + 1,
                                currentYear  = new Date().getFullYear();
                            if (value < 0 || value > 12) {
                                return false;
                            }
                            if (year == '') {
                                return true;
                            }
                            year = parseInt(year, 10);
                            if (year > currentYear || (year == currentYear && value > currentMonth)) {
                                validator.updateStatus('expYear', 'VALID');
                                return true;
                            } else {
                                return false;
                            }
                        }
                    }
                }
            },
            expYear: {
                selector: '[data-stripe="exp-year"]',
                validators: {
                    notEmpty: {
                        message: 'The expiration year is required'
                    },
                    digits: {
                        message: 'The expiration year can contain digits only'
                    },
                    callback: {
                        message: 'Expired',
                        callback: function(value, validator) {
                            value = parseInt(value, 10);
                            var month        = validator.getFieldElements('expMonth').val(),
                                currentMonth = new Date().getMonth() + 1,
                                currentYear  = new Date().getFullYear();
                            if (value < currentYear || value > currentYear + 100) {
                                return false;
                            }
                            if (month == '') {
                                return false;
                            }
                            month = parseInt(month, 10);
                            if (value > currentYear || (value == currentYear && month > currentMonth)) {
                                validator.updateStatus('expMonth', 'VALID');
                                return true;
                            } else {
                                return false;
                            }
                        }
                    }
                }
            },
            cvvNumber: {
                selector: '.cvvNumber',
                validators: {
                    notEmpty: {
                        message: 'The CVV number is required'
                    },
                    cvv: {
                        message: 'The value is not a valid CVV',
                        creditCardField: 'ccNumber'
                    }
                }
            }
        }
    });

    $('#thresholdForm').bootstrapValidator({
        message: 'This value is not valid',
        feedbackIcons: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        submitHandler: function(validator, form, submitButton) {
            // Do nothing
        },
        threshold: 3,
        fields: {
            fullname: {
                threshold: 10,
                validators: {
                    notEmpty: {
                        message: 'The full name is required'
                    }
                }
            },
            gender: {
                // The threshold option does not effect to the elements which user cannot type, such as radio, checkbox, select one
                threshold: 5,
                validators: {
                    notEmpty: {
                        message: 'The summary is required'
                    }
                }
            },
            phone: {
                threshold: 5,
                validators: {
                    notEmpty: {
                        message: 'The phone number is required'
                    },
                    phone: {
                        message: 'The phone number is not valid',
                        country: 'US'
                    }
                }
            },
            address: {
                // The threshold option is not set, it will be taken from the form option (which is 3 in this example)
                validators: {
                    notEmpty: {
                        message: 'The city is required'
                    }
                }
            }
        }
    });

    $('#triggerForm').bootstrapValidator({
        message: 'This value is not valid',
        feedbackIcons: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
            title: {
                trigger: 'keyup',
                validators: {
                    notEmpty: {
                        message: 'The title is required'
                    }
                }
            },
            summary: {
                trigger: 'blur',
                validators: {
                    notEmpty: {
                        message: 'The summary is required'
                    }
                }
            },
            description: {
                validators: {
                    notEmpty: {
                        message: 'The description is required'
                    }
                }
            }
        }
    });
});
</script>
