---
layout:           default
title:            Validators
permalink:        /validators/
previous_section: /settings/
next_section:     /examples/
comments:         true
---

<section class="doc-heading">
    <h1>Validators</h1>
    {% include edit-button.html %}
</section>

<p>BootstrapValidator comes with various built-in validators listed in the alphabetical order as following:</p>

<table class="table table-condensed">
    <thead>
        <tr>
            <th>No.</th>
            <th>Name</th>
            <th>Available from</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
    {% for validator in site.data.validators %}
        <tr>
            <td>{{ forloop.index }}</td>
            <td><a href="/validators/{{ validator.name }}/">{{ validator.name }}</a>{% if validator.version == site.current_version %} <label class="label label-success pull-right">new</label>{% endif %}</td>
            <td>{{ validator.version }}</td>
            <td>{{ validator.description }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
