{% if page.related %}
<section id="related">
    <h2>Related Validators</h2>

    <p>The following validators might be useful to you:</p>
    <ul class="doc-list">
        {% for v in page.related %}
        <li><a href="/validators/{{ v }}/">{{ v }}</a></li>
        {% endfor %}
    </ul>
</section>
{% endif %}