---
layout:     post
title:      BootstrapValidator v0.2.0 Released
date:       2013-10-21 10:00:00 +0700
categories: [releases]
author:     nghuuphuoc
comments:   true
---

<h3>New Features</h3>
<ul class="doc-post-list">
    <li><a href="{{ site.repository.source }}/issues/9">#9</a>: Add <a href="/validators/creditCard/"><code>creditCard</code> validator</a></li>
    <li><a href="{{ site.repository.source }}/issues/18">#18</a>: Add <a href="/validators/different/"><code>different</code> validator</a></li>
    <li><a href="{{ site.repository.source }}/issues/20">#20</a>: Add custom submit handler using <a href="/settings/#submit-handler"><code>submitHandler</code> option</a></li>
    <li><a href="{{ site.repository.source }}/issues/21">#21</a>: Add <a href="/validators/callback/"><code>callback</code> validator</a></li>
    <li><a href="{{ site.repository.source }}/issues/24">#24</a>: Add <a href="/settings/#live"><code>live</code> option</a></li>
</ul>

<h3>Improvements</h3>
<ul class="doc-post-list">
    <li><a href="{{ site.repository.source }}/issues/22">#22</a>: Support form that labels are placed in extra small (<code>col-xs-</code>), small (<code>col-sm-</code>), medium (<code>col-md-</code>) elements</li>
</ul>

<h3>Bug Fixes</h3>
<ul class="doc-post-list">
    <li><a href="{{ site.repository.source }}/issues/25">#25</a>: The <a href="/validators/regexp/"><code>regexp</code> validator</a> does not work</li>
</ul>

<h3>Download</h3>
<div>
    <a class="btn btn-primary" href="{{ site.repository.source }}/releases/download/v0.2.0/bootstrapvalidator-dist-0.2.0.zip">bootstrapvalidator-dist-0.2.0.zip</a>
    <a class="btn btn-default" href="{{ site.repository.source }}/archive/v0.2.0.zip">v0.2.0 Source Code</a>
</div>
