---
layout:     post
title:      BootstrapValidator v0.2.1 Released
date:       2013-11-08 10:00:00 +0700
categories: [releases]
author:     nghuuphuoc
comments:   true
---

<h3>Improvements</h3>
<ul class="doc-post-list">
    <li><a href="{{ site.repository.source }}/issues/29">#29</a>: Upgrade Bootstrap to v3.0.2</li>
    <li><a href="{{ site.repository.source }}/issues/30">#30</a>: Hide the error block containers before validating</li>
</ul>

<h3>Download</h3>
<div>
    <a class="btn btn-primary" href="{{ site.repository.source }}/releases/download/v0.2.1/bootstrapvalidator-dist-0.2.1.zip">bootstrapvalidator-dist-0.2.1.zip</a>
    <a class="btn btn-default" href="{{ site.repository.source }}/archive/v0.2.1.zip">v0.2.1 Source Code</a>
</div>
