---
layout:     post
title:      BootstrapValidator v0.1.1 Released
date:       2013-10-17 10:00:00 +0700
categories: [releases]
author:     nghuuphuoc
comments:   true
---

<h3>New Features</h3>
<ul class="doc-post-list">
    <li>Added <a href="/settings/#submit-buttons"><code>submitButtons</code> option</a></li>
</ul>

<h3>Improvements</h3>
<ul class="doc-post-list">
    <li><a href="{{ site.repository.source }}/issues/16">#16</a>: Added disabling client side validation in HTML 5</li>
    <li><a href="{{ site.repository.source }}/issues/17">#17</a>: Added support for default Bootstrap form without labels</li>
    <li><a href="{{ site.repository.source }}/issues/19">#19</a>: Added support for select box validator</li>
</ul>

<h3>Download</h3>
<div>
    <a class="btn btn-primary" href="{{ site.repository.source }}/releases/download/v0.1.1/bootstrapvalidator-dist-0.1.1.zip">bootstrapvalidator-dist-0.1.1.zip</a>
    <a class="btn btn-default" href="{{ site.repository.source }}/archive/v0.1.1.zip">v0.1.1 Source Code</a>
</div>
