---
layout:     post
title:      BootstrapValidator v0.1.0 Released
date:       2013-10-14 10:00:00 +0700
categories: [releases]
author:     nghuuphuoc
comments:   true
---
<p>I'm proud that the first release of BootstrapValidator is out today.</p>

<h3>Built-in Validators</h3>
<ul class="doc-post-list">
    <li><a href="/validators/between/"><code>between</code> validator</a></li>
    <li><a href="/validators/digits/"><code>digits</code> validator</a></li>
    <li><a href="/validators/emailAddress/"><code>emailAddress</code> validator</a></li>
    <li><a href="/validators/greaterThan/"><code>greaterThan</code> validator</a></li>
    <li><a href="/validators/hexColor/"><code>hexColor</code> validator</a></li>
    <li><a href="/validators/identical/"><code>identical</code> validator</a></li>
    <li><a href="/validators/lessThan/"><code>lessThan</code> validator</a></li>
    <li><a href="/validators/notEmpty/"><code>notEmpty</code> validator</a></li>
    <li><a href="/validators/regexp/"><code>regexp</code> validator</a></li>
    <li><a href="/validators/remote/"><code>remote</code> validator</a></li>
    <li><a href="/validators/stringLength/"><code>stringLength</code> validator</a></li>
    <li><a href="/validators/uri/"><code>uri</code> validator</a></li>
    <li><a href="/validators/zipCode/"><code>usZipCode</code> validator</a></li>
</ul>

<h3>Download</h3>
<div>
    <a class="btn btn-primary" href="{{ site.repository.source }}/releases/download/v0.1.0/bootstrapvalidator-dist-0.1.0.zip">bootstrapvalidator-dist-0.1.0.zip</a>
    <a class="btn btn-default" href="{{ site.repository.source }}/archive/v0.1.0.zip">v0.1.0 Source Code</a>
</div>
