---
layout:     post
title:      BootstrapValidator v0.4.3 Released
date:       2014-04-26 10:00:00 +0700
categories: [releases]
author:     nghuuphuoc
comments:   true
---

<h3>New Features</h3>
<ul class="doc-post-list">
    <li><a href="{{ site.repository.source }}/issues/77">#77</a>: Add <a href="/validators/file/"><code>file</code> validator</a></li>
    <li><i class="fa fa-star"></i> <a href="{{ site.repository.source }}/issues/179">#179</a>: Add <a href="/validators/vat/"><code>vat</code> validator</a>, support 32 countries</li>
</ul>

<h3>Improvements</h3>
<ul class="doc-post-list">
    <li><a href="{{ site.repository.source }}/pull/198">#198</a>: Add Canadian Postal Code support for the <a href="/validators/zipCode/"><code>zipCode</code> validator</a>, thanks to <a href="https://github.com/Francismori7">@Francismori7</a></li>
    <li><a href="{{ site.repository.source }}/issues/201">#201</a>: The <a href="/validators/choice/"><code>choice</code> validator</a> supports <code>select</code> element</li>
    <li><a href="{{ site.repository.source }}/issues/202">#202</a>: Activate tab containing the first invalid field</li>
</ul>

<h3>Bug Fixes</h3>
<ul class="doc-post-list">
    <li><a href="{{ site.repository.source }}/issues/205">#205</a>: Plugin method invocation</li>
    <li><a href="{{ site.repository.source }}/issues/207">#207</a>: IE8 error</li>
    <li><a href="{{ site.repository.source }}/issues/209">#209</a>: The <a href="/settings/#excluded"><code>excluded: ':disabled'</code> setting</a> does not work on IE 8, thanks to <a href="https://github.com/adgrafik">@adgrafik</a></li>
    <li><a href="{{ site.repository.source }}/issues/210">#210</a>: The <a href="/validators/isbn/"><code>isbn</code> validator</a> accepts letters and special characters</li>
</ul>

<h3>Document</h3>
<ul class="doc-post-list">
    <li><a href="{{ site.repository.source }}/pull/199">#199</a>: Update the <a href="/validators/zipCode/"><code>zipCode</code> validator</a> document, thanks to <a href="https://github.com/Francismori7">@Francismori7</a></li>
</ul>

<h3>Contributors</h3>
<p>Thank to the contributors:</p>
<ul class="doc-post-list">
    <li><a href="https://github.com/adgrafik">@adgrafik</a></li>
    <li><a href="https://github.com/Francismori7">@Francismori7</a></li>
</ul>

<h3>Download</h3>
<div>
    <a class="btn btn-primary" href="{{ site.repository.source }}/releases/download/v0.4.3/bootstrapvalidator-dist-0.4.3.zip">bootstrapvalidator-dist-0.4.3.zip</a>
    <a class="btn btn-default" href="{{ site.repository.source }}/archive/v0.4.3.zip">v0.4.3 Source Code</a>
</div>
        






