---
layout:     post
title:      BootstrapValidator v0.3.3 Released
date:       2014-03-27 10:00:00 +0700
categories: [releases]
author:     nghuuphuoc
comments:   true
---

<h3>Improvements</h3>
<ul class="doc-post-list">
    <li><a href="{{ site.repository.source }}/issues/50">#50</a>: Don't validate disabled element</li>
    <li><a href="{{ site.repository.source }}/pull/120">#120</a>: Handle case where a field is removed after the bootstrap validation, thanks to <a href="https://github.com/patmoore">@patmoore</a></li>
</ul>

<h3>Bug Fixes</h3>
<ul class="doc-post-list">
    <li><a href="{{ site.repository.source }}/issues/34">#34</a>, <a href="{{ site.repository.source }}/issues/105">#105</a>: Cannot call <code>form.submit()</code> inside <a href="/settings/#submit-handler"><code>submitHandler</code></a></li>
    <li><a href="{{ site.repository.source }}/issues/77">#77</a>, <a href="{{ site.repository.source }}/issues/117">#117</a>: The <a href="/validators/notEmpty/"><code>notEmpty</code> validator</a> doesn't work on file input</li>
</ul>

<h3>Contributors</h3>
<p>Thank to the contributor:</p>
<ul class="doc-post-list">
    <li><a href="https://github.com/patmoore">@patmoore</a></li>
</ul>

<h3>Download</h3>
<div>
    <a class="btn btn-primary" href="{{ site.repository.source }}/releases/download/v0.3.3/bootstrapvalidator-dist-0.3.3.zip">bootstrapvalidator-dist-0.3.3.zip</a>
    <a class="btn btn-default" href="{{ site.repository.source }}/archive/v0.3.3.zip">v0.3.3 Source Code</a>
</div>

        




