---
layout:     post
title:      BootstrapValidator v0.2.2 Released
date:       2014-01-07 10:00:00 +0700
categories: [releases]
author:     nghuuphuoc
comments:   true
---

<h3>Improvements</h3>
<ul class="doc-post-list">
    <li><a href="{{ site.repository.source }}/issues/15">#15</a>: Focus to the first invalid element</li>
    <li><a href="{{ site.repository.source }}/issues/31">#31</a>: <a href="/validators/remote/"><code>remote</code> validator</a>: Allow to set additional data to remote URL</li>
    <li><a href="{{ site.repository.source }}/issues/32">#32</a>, <a href="{{ site.repository.source }}/issues/43">#43</a>, <a href="{{ site.repository.source }}/issues/47">#47</a>: Only validate not empty field</li>
    <li><a href="{{ site.repository.source }}/issues/39">#39</a>: Validate existing fields only</li>
</ul>

<h3>Bug Fixes</h3>
<ul class="doc-post-list">
    <li><a href="{{ site.repository.source }}/issues/34">#34</a>: Avoid from calling form submit recursively</li>
    <li><a href="{{ site.repository.source }}/issues/40">#40</a>: Fix the issue when the form label doesn't have class</li>
</ul>

<h3>Download</h3>
<div>
    <a class="btn btn-primary" href="{{ site.repository.source }}/releases/download/v0.2.2/bootstrapvalidator-dist-0.2.2.zip">bootstrapvalidator-dist-0.2.2.zip</a>
    <a class="btn btn-default" href="{{ site.repository.source }}/archive/v0.2.2.zip">v0.2.2 Source Code</a>
</div>
