---
layout:     post
title:      BootstrapValidator v0.3.2 Released
date:       2014-03-21 10:00:00 +0700
categories: [releases]
author:     nghuuphuoc
comments:   true
---

<h3>New Features</h3>
<ul class="doc-post-list">
    <li><a href="{{ site.repository.source }}/issues/5">#5</a>: Add <a href="/validators/ip/"><code>ip</code> validator</a>. Support both IPv4 and IPv6</li>
    <li><a href="{{ site.repository.source }}/issues/6">#6</a>: Add <a href="/validators/isbn/"><code>isbn</code> validator</a>, support both ISBN 10 and ISBN 13</li>
    <li><a href="{{ site.repository.source }}/issues/7">#7</a>: Add <a href="/validators/step/"><code>step</code> validator</a></li>
    <li><a href="{{ site.repository.source }}/issues/56">#56</a>: Add <a href="/settings/#fields"><code>selector</code> option</a> for each field. The field can be defined by CSS validator instead of the <code>name</code> attribute</li>
    <li><a href="{{ site.repository.source }}/issues/95">#95</a>: Add <a href="/validators/mac/"><code>mac</code> validator</a></li>
    <li><a href="{{ site.repository.source }}/issues/96">#96</a>: Add <a href="/validators/base64/"><code>base64</code> validator</a></li>
    <li><a href="{{ site.repository.source }}/issues/97">#97</a>: Add <a href="/validators/cvv/"><code>cvv</code> validator</a></li>
    <li><a href="{{ site.repository.source }}/issues/99">#99</a>, <a href="{{ site.repository.source }}/pull/100">#100</a>: Add <a href="/validators/phone/"><code>phone</code> validator</a>. Support US phone number only, thanks to <a href="https://github.com/gercheq">@gercheq</a></li>
    <li><a href="{{ site.repository.source }}/issues/107">#107</a>: Add <a href="/settings/#fields"><code>container</code> option</a> for each field to indicate where the error messages are shown</li>
</ul>

<h3>Improvements</h3>
<ul class="doc-post-list">
    <li><a href="{{ site.repository.source }}/issues/112">#112</a>: <a href="/validators/creditCard/"><code>creditCard</code> validator</a> now validates both IIN ranges and length</li>
</ul>

<h3>Contributors</h3>
<p>Thank to the contributor:</p>
<ul class="doc-post-list">
    <li><a href="https://github.com/gercheq">@gercheq</a></li>
</ul>

<h3>Download</h3>
<div>
    <a class="btn btn-primary" href="{{ site.repository.source }}/releases/download/v0.3.2/bootstrapvalidator-dist-0.3.2.zip">bootstrapvalidator-dist-0.3.2.zip</a>
    <a class="btn btn-default" href="{{ site.repository.source }}/archive/v0.3.2.zip">v0.3.2 Source Code</a>
</div>
