---
layout:     post
title:      BootstrapValidator v0.3.0 Released
date:       2014-03-10 10:00:00 +0700
categories: [releases]
author:     nghuuphuoc
comments:   true
---

<h3>New Features</h3>
<ul class="doc-post-list">
    <li><a href="{{ site.repository.source }}/issues/26">#26</a>, <a href="{{ site.repository.source }}/issues/27">#27</a>, <a href="{{ site.repository.source }}/pull/67">#67</a>: Add <a href="/validators/choice/"><code>choice</code> validator</a>, thanks to <a href="https://github.com/emilchristensen">@emilchristensen</a></li>
    <li><a href="{{ site.repository.source }}/issues/36">#36</a>, <a href="{{ site.repository.source }}/issues/58">#58</a>: Add method to <a href="/api/#validate">validate form</a> manually</li>
    <li><i class="fa fa-star"></i> <a href="{{ site.repository.source }}/issues/44">#44</a>: Rewrite entirely using Deferred</li>
    <li><a href="{{ site.repository.source }}/issues/48">#48</a>: Add optional <a href="/settings/#feedback-icons">feedback icons</a></li>
    <li><a href="{{ site.repository.source }}/issues/76">#76</a>: Add <a href="/api/#reset-form"><code>resetForm()</code> method</a></li>
</ul>

<h3>Improvements</h3>
<ul class="doc-post-list">
    <li><a href="{{ site.repository.source }}/issues/31">#31</a>: The <a href="/validators/remote/"><code>remote</code> validator</a> supports dynamic data</li>
    <li><a href="{{ site.repository.source }}/issues/41">#41</a>: Disable submit button on successful form submit</li>
    <li><a href="{{ site.repository.source }}/issues/42">#42</a>: Add submit button to <a href="/settings/#submit-handler"><code>submitHandler()</code></a> parameter</li>
    <li><a href="{{ site.repository.source }}/issues/50">#50</a>: Don't validate disabled element</li>
    <li><a href="{{ site.repository.source }}/pull/59">#59</a>: Add example for Rail field convention, thanks to <a href="https://github.com/narutosanjiv">@narutosanjiv</a></li>
    <li><a href="{{ site.repository.source }}/pull/60">#60</a>: Update the installation guide, thanks to <a href="https://github.com/vaz">@vaz</a></li>
    <li><a href="{{ site.repository.source }}/pull/64">#64</a>: Support <a href="/validators/zipCode/">Danish zip code</a>, thanks to <a href="https://github.com/emilchristensen">@emilchristensen</a></li>
    <li><a href="{{ site.repository.source }}/pull/65">#65</a>: Support <a href="/validators/zipCode/">Sweden zip code</a>, thanks to <a href="https://github.com/emilchristensen">@emilchristensen</a></li>
    <li><a href="{{ site.repository.source }}/issues/70">#70</a>: Support custom grid columns</li>
    <li><a href="{{ site.repository.source }}/issues/71">#71</a>: Show all errors</li>
    <li><a href="{{ site.repository.source }}/issues/73">#73</a>: Describe which version should be <a href="/getting-started/#including-library">included</a> in the Usage section</li>
</ul>

<h3>Bug Fixes</h3>
<ul class="doc-post-list">
    <li><a href="{{ site.repository.source }}/issues/51">#51</a>: Submit after submit doesn't work</li>
    <li><a href="{{ site.repository.source }}/issues/53">#53</a>, <a href="{{ site.repository.source }}/pull/54">#54</a>: Fix <a href="/validators/notEmpty/"><code>notEmpty</code> validator</a> for radios and checkboxes, thanks to <a href="https://github.com/kristian-puccio">@kristian-puccio</a></li>
    <li><a href="{{ site.repository.source }}/issues/55">#55</a>: The plugin doesn't validate other fields if the <a href="/validators/remote/"><code>remote</code> validator</a> returns <code>true</code></li>
    <li><a href="{{ site.repository.source }}/pull/62">#62</a>: The <a href="/validators/callback/"><code>callback</code> validator</a> passes wrong parameter, thanks to <a href="https://github.com/iplus">@iplus</a></li>
</ul>

<h3>Contributors</h3>
<p>Thank to the contributors:</p>
<ul class="doc-post-list">
    <li><a href="https://github.com/emilchristensen">@emilchristensen</a></li>
    <li><a href="https://github.com/iplus">@iplus</a></li>
    <li><a href="https://github.com/kristian-puccio">@kristian-puccio</a></li>
    <li><a href="https://github.com/narutosanjiv">@narutosanjiv</a></li>
</ul>

<h3>Download</h3>
<div>
    <a class="btn btn-primary" href="{{ site.repository.source }}/releases/download/v0.3.0/bootstrapvalidator-dist-0.3.0.zip">bootstrapvalidator-dist-0.3.0.zip</a>
    <a class="btn btn-default" href="{{ site.repository.source }}/archive/v0.3.0.zip">v0.3.0 Source Code</a>
</div>
