---
layout:     post
title:      BootstrapValidator v0.4.2 Released
date:       2014-04-19 10:00:00 +0700
categories: [releases]
author:     nghuuphuoc
comments:   true
---

<h3>New Features</h3>
<ul class="doc-post-list">
    <li><a href="{{ site.repository.source }}/pull/168">#168</a>: Add <a href="/validators/siren/"><code>siren</code></a> and <a href="/validators/siret/"><code>siret</code></a> validators, thanks to <a href="https://github.com/jswale">@jswale</a></li>
    <li><a href="{{ site.repository.source }}/issues/177">#177</a>: Add <a href="/validators/vin/"><code>vin</code> Vehicle Identification Number validator</a></li>
    <li><i class="fa fa-star"></i> <a href="{{ site.repository.source }}/issues/184">#184</a>: Add <a href="/settings/#excluded"><code>excluded</code> option</a></li>
</ul>

<h3>Improvements</h3>
<ul class="doc-post-list">
    <li><a href="{{ site.repository.source }}/pull/171">#171</a>: The <a href="/validators/phone/"><code>phone</code> validator</a> now supports +1 country code and area code for US phone number, thanks to <a href="https://github.com/tomByrer">@tomByrer</a></li>
    <li><a href="{{ site.repository.source }}/pull/173">#173</a>: The <a href="/validators/remote/"><code>remote</code> validator</a> allows to override <code>name</code> option, thanks to <a href="https://github.com/jswale">@jswale</a></li>
    <li><a href="{{ site.repository.source }}/pull/182">#182</a>: Improve <a href="/validators/zipCode/"><code>zipCode</code> validator</a>, thanks to <a href="https://github.com/gercheq">@gercheq</a></li>
</ul>

<h3>Bug Fixes</h3>
<ul class="doc-post-list">
    <li><a href="{{ site.repository.source }}/pull/178">#178</a>: Do not validate fields that <code>enabled</code> is set to <code>false</code>, thanks to <a href="https://github.com/henningda">@henningda</a></li>
</ul>

<h3>Document</h3>
<ul class="doc-post-list">
    <li><a href="{{ site.repository.source }}/pull/169">#169</a>: Better to say: <code>{validatorname}</code> and <code>{validatoroption}</code> must be lowercase, thanks to <a href="https://github.com/tomByrer">@tomByrer</a></li>
</ul>

<h3>Contributors</h3>
<p>Thank to the contributors:</p>
<ul class="doc-post-list">
    <li><a href="https://github.com/gercheq">@gercheq</a></li>
    <li><a href="https://github.com/henningda">@henningda</a></li>
    <li><a href="https://github.com/jswale">@jswale</a></li>
    <li><a href="https://github.com/tomByrer">@tomByrer</a></li>
</ul>

<h3>Download</h3>
<div>
    <a class="btn btn-primary" href="{{ site.repository.source }}/releases/download/v0.4.2/bootstrapvalidator-dist-0.4.2.zip">bootstrapvalidator-dist-0.4.2.zip</a>
    <a class="btn btn-default" href="{{ site.repository.source }}/archive/v0.4.2.zip">v0.4.2 Source Code</a>
</div>
