---
layout:           default
title:            Validate a base64 encoded string
permalink:        /validators/base64/
previous_section: /validators/
next_section:     /validators/between/
comments:         true
---

<section class="doc-heading">
    <h1><a href="/validators/">Validators</a> / base64</h1>
    {% include edit-button.html %}
</section>

<section>
    <p>Validate a base64 encoded string.</p>

    <table class="table table-condensed">
        <thead>
            <tr>
                <th>Option</th>
                <th>Equivalent HTML attribute</th>
                <th>Type</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><code>message</code></td>
                <td><code>data-bv-base64-message</code></td>
                <td>String</td>
                <td>The error message</td>
            </tr>
        </tbody>
    </table>
</section>

{% include related.html %}
