---
layout:           default
title:            callback validator
permalink:        /validators/callback/
previous_section: /validators/between/
next_section:     /validators/choice/
comments:         true
---

<section class="doc-heading">
    <h1><a href="/validators/">Validators</a> / callback</h1>
    {% include edit-button.html %}
</section>

<section>
    <p>Return the validity from a callback method.</p>

    <table class="table table-condensed">
        <thead>
            <tr>
                <th>Option</th>
                <th>Equivalent HTML attribute</th>
                <th>Type</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><code>message</code></td>
                <td><code>data-bv-callback-message</code></td>
                <td>String</td>
                <td>The error message</td>
            </tr>
            <tr>
                <td><code>callback</code> (*)</td>
                <td>n/a</td>
                <td>Function</td>
                <td>The callback method</td>
            </tr>
        </tbody>
    </table>

    <p>The callback method must follow the format below:</p>
    <pre><code class="javascript">function(fieldValue, validator) {
    // fieldValue is the value of field
    // validator is instance of BootstrapValidator

    // Check the field validity
    // return true or false
}</code></pre>
</section>

<section id="example">
    <h2>Example</h2>

    <p>In the following form, user is asked to enter a correct answer of simple operation which is generated randomly:</p>

    <div class="doc-example">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#callback-form-tab" data-toggle="tab">Try it</a></li>
            <li><a href="#callback-html-tab" data-toggle="tab">HTML</a></li>
            <li><a href="#callback-js-tab" data-toggle="tab">JS</a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="callback-form-tab">
                <form id="captchaForm" class="form-horizontal">
                    <div class="form-group">
                        <label class="col-lg-3 control-label" id="captchaOperation"></label>
                        <div class="col-lg-2">
                            <input type="text" class="form-control" name="captcha" />
                        </div>
                    </div>
                </form>
            </div>

            <div class="tab-pane" id="callback-html-tab">
                <pre><code class="xml">&lt;form id="captchaForm" class="form-horizontal">
    &lt;div class="form-group">
        &lt;label class="col-lg-3 control-label" id="captchaOperation">&lt;/label>
        &lt;div class="col-lg-2">
            &lt;input type="text" class="form-control" name="captcha" />
        &lt;/div>
    &lt;/div>
&lt;/form></code></pre>
            </div>

            <div class="tab-pane" id="callback-js-tab">
                <pre><code class="xml javascript">&lt;script>
$(document).ready(function() {
    // Return a random number between min and max
    function randomNumber(min, max) {
        return Math.floor(Math.random() * (max - min + 1) + min);
    };

    // Generate a sum of two random numbers
    $('#captchaOperation').html([randomNumber(1, 100), '+', randomNumber(1, 200), '='].join(' '));

    $('#captchaForm').bootstrapValidator({
        feedbackIcons: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
            captcha: {
                validators: {
                    <span class="doc-example-note">callback: {
                        message: 'Wrong answer',
                        callback: function(value, validator) {
                            // Determine the numbers which are generated in captchaOperation
                            var items = $('#captchaOperation').html().split(' '),
                                sum   = parseInt(items[0]) + parseInt(items[2]);
                            return value == sum;
                        }
                    }</span>
                }
            }
        }
    });
});
&lt;/script></code></pre>
            </div>
        </div>
    </div>
</section>

{% include related.html %}

<script>
$(document).ready(function() {
    function randomNumber(min, max) {
        return Math.floor(Math.random() * (max - min + 1) + min);
    };

    $('#captchaOperation').html([randomNumber(1, 100), '+', randomNumber(1, 200), '='].join(' '));

    $('#captchaForm').bootstrapValidator({
        feedbackIcons: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
            captcha: {
                validators: {
                    callback: {
                        message: 'Wrong answer',
                        callback: function(value, validator) {
                            // Determine the numbers which are generated in captchaOperation
                            var items = $('#captchaOperation').html().split(' '),
                                sum   = parseInt(items[0]) + parseInt(items[2]);
                            return value == sum;
                        }
                    }
                }
            }
        }
    });
});
</script>