---
layout:           default
title:            Validate a CUSIP
permalink:        /validators/cusip/
previous_section: /validators/creditCard/
next_section:     /validators/cvv/
comments:         true
examples:         037833100, 931142103, 14149YAR8, 126650BG6, 31430F200, 022615AC2
related:
    - isin
    - sedol
---

<section class="doc-heading">
    <h1><a href="/validators/">Validators</a> / cusip</h1>
    {% include edit-button.html %}
</section>

<section>
    <p>Validate a CUSIP.</p>

    <table class="table table-condensed">
        <thead>
            <tr>
                <th>Option</th>
                <th>Equivalent HTML attribute</th>
                <th>Type</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><code>message</code></td>
                <td><code>data-bv-cusip-message</code></td>
                <td>String</td>
                <td>The error message</td>
            </tr>
        </tbody>
    </table>
</section>

<section id="example">
    <h2>Example</h2>

    <table class="table table-condensed">
        <thead>
            <tr>
                <th>CUSIP</th>
                <th>Result</th>
            </tr>
        </thead>
        <tbody>
            {% assign examples = page.examples | split: ', ' %}
            {% for sample in examples %}
            <tr>
                <td><a href="javascript: void(0);" class="sample">{{ sample }}</a></td>
                <td><i class="fa"></i></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="doc-example">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#cusip-form-tab" data-toggle="tab">Try it</a></li>
            <li><a href="#cusip-html-tab" data-toggle="tab">HTML</a></li>
            <li><a href="#cusip-js-tab" data-toggle="tab">JS</a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="cusip-form-tab">
                <form id="cusipForm" class="form-horizontal">
                    <div class="form-group">
                        <label class="col-lg-3 control-label">CUSIP</label>
                        <div class="col-lg-5">
                            <input type="text" class="form-control" name="cusip" />
                        </div>
                    </div>
                </form>
            </div>

            <div class="tab-pane" id="cusip-html-tab">
                <pre><code class="xml">&lt;form id="cusipForm" class="form-horizontal">
    &lt;div class="form-group">
        &lt;label class="col-lg-3 control-label">CUSIP&lt;/label>
        &lt;div class="col-lg-5">
            &lt;input type="text" class="form-control" name="cusip" />
        &lt;/div>
    &lt;/div>
&lt;/form></code></pre>
            </div>

            <div class="tab-pane" id="cusip-js-tab">
                <pre><code class="xml javascript">&lt;script>
$(document).ready(function() {
    $('#cusipForm').bootstrapValidator({
        feedbackIcons: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
            cusip: {
                validators: {
                    <span class="doc-example-note">cusip: {
                        message: 'The value is not valid CUSIP'
                    }</span>
                }
            }
        }
    });
});
&lt;/script></code></pre>
            </div>
        </div>
    </div>
</section>

{% include related.html %}

<script>
$(document).ready(function() {
    $('.sample').on('click', function() {
        $('#cusipForm')
            .find('input[name="cusip"]')
                .val($(this).html())
                .end()
            .data('bootstrapValidator')
                .updateStatus('cusip', 'NOT_VALIDATED')
                .validate();
        var isValid = $('#cusipForm').data('bootstrapValidator').isValid();
        $(this)
            .parents('tr').find('i')
            .removeClass('fa-check fa-times')
            .addClass(isValid ? 'fa-check' : 'fa-times');
    });

    $('#cusipForm').bootstrapValidator({
        feedbackIcons: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
            cusip: {
                validators: {
                    cusip: {
                        message: 'The value is not valid CUSIP'
                    }
                }
            }
        }
    });
});
</script>