---
layout:           default
title:            Validate a CVV number
permalink:        /validators/cvv/
previous_section: /validators/cusip/
next_section:     /validators/date/
comments:         true
related:
    - creditCard
    - iban
    - rtn
---

<section class="doc-heading">
    <h1><a href="/validators/">Validators</a> / cvv</h1>
    {% include edit-button.html %}
</section>

<section>
    <p>Validate a CVV number.</p>

    <table class="table table-condensed">
        <thead>
            <tr>
                <th>Option</th>
                <th>Equivalent HTML attribute</th>
                <th>Type</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><code>creditCardField</code></td>
                <td><code>data-bv-cvv-ccfield</code></td>
                <td>String</td>
                <td>The credit card number field. It is <code>null</code> by default</td>
            </tr>
            <tr>
                <td><code>message</code></td>
                <td><code>data-bv-cvv-message</code></td>
                <td>String</td>
                <td>The error message</td>
            </tr>
        </tbody>
    </table>

    <p>If the <code>creditCardField</code> is set, the validator will check if the CVV number is suitable with the credit card number of not.</p>
    <p>In the details, the American Express card only accepts 4 digits CVV number, while other cards only accept 3 digits CVV number.</p>
</section>

<section id="example">
    <h2>Example</h2>

    <p>The following form also validates the CVV number based on the credit card number.</p>
    <p>For testing purpose, you can copy and paste the fake credit card number from <a href="http://www.getcreditcardnumbers.com">http://www.getcreditcardnumbers.com</a>.</p>

    <div class="doc-example">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#cvv-form-tab" data-toggle="tab">Try it</a></li>
            <li><a href="#cvv-html-tab" data-toggle="tab">HTML</a></li>
            <li><a href="#cvv-js-tab" data-toggle="tab">JS</a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="cvv-form-tab">
                <form id="paymentForm" class="form-horizontal">
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Credit card number</label>
                        <div class="col-lg-5">
                            <input type="text" class="form-control" name="ccNumber" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-lg-3 control-label">CVV</label>
                        <div class="col-lg-2">
                            <input type="text" class="form-control" name="cvvNumber" />
                        </div>
                    </div>
                </form>
            </div>

            <div class="tab-pane" id="cvv-html-tab">
                <pre><code class="xml">&lt;form id="paymentForm" class="form-horizontal">
    &lt;div class="form-group">
        &lt;label class="col-lg-3 control-label">Credit card number&lt;/label>
        &lt;div class="col-lg-5">
            &lt;input type="text" class="form-control" name="ccNumber" />
        &lt;/div>
    &lt;/div>

    &lt;div class="form-group">
        &lt;label class="col-lg-3 control-label">CVV&lt;/label>
        &lt;div class="col-lg-2">
            &lt;input type="text" class="form-control" name="cvvNumber" />
        &lt;/div>
    &lt;/div>
&lt;/form></code></pre>
            </div>

            <div class="tab-pane" id="cvv-js-tab">
                <pre><code class="xml javascript">&lt;script>
$(document).ready(function() {
    $('#paymentForm').bootstrapValidator({
        feedbackIcons: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
            ccNumber: {
                validators: {
                    creditCard: {
                        message: 'The credit card number is not valid'
                    }
                }
            },
            cvvNumber: {
                validators: {
                    <span class="doc-example-note">cvv: {
                        creditCardField: 'ccNumber',
                        message: 'The CVV number is not valid'
                    }</span>
                }
            }
        }
    });
});
&lt;/script></code></pre>
            </div>
        </div>
    </div>
</section>

{% include related.html %}

<script>
$(document).ready(function() {
    $('#paymentForm').bootstrapValidator({
        feedbackIcons: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
            ccNumber: {
                validators: {
                    creditCard: {
                        message: 'The credit card number is not valid'
                    }
                }
            },
            cvvNumber: {
                validators: {
                    cvv: {
                        creditCardField: 'ccNumber',
                        message: 'The CVV number is not valid'
                    }
                }
            }
        }
    });
});
</script>