---
layout:           default
title:            different validator
permalink:        /validators/different/
previous_section: /validators/date/
next_section:     /validators/digits/
comments:         true
related:
    - identical
---

<section class="doc-heading">
    <h1><a href="/validators/">Validators</a> / different</h1>
    {% include edit-button.html %}
</section>

<section>
    <p>Return true if the input value is different with given field's value.</p>

    <table class="table table-condensed">
        <thead>
            <tr>
                <th>Option</th>
                <th>Equivalent HTML attribute</th>
                <th>Type</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><code>message</code></td>
                <td><code>data-bv-different-message</code></td>
                <td>String</td>
                <td>The error message</td>
            </tr>
            <tr>
                <td><code>field</code> (*)</td>
                <td><code>data-bv-different-field</code></td>
                <td>String</td>
                <td>The name of field that will be used to compare with current one</td>
            </tr>
        </tbody>
    </table>
</section>

<sectiom id="example">
    <h2>Example</h2>
    <p>The registration form below doesn't allow the username and password to be the same:</p>

    <div class="doc-example">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#different-form-tab" data-toggle="tab">Try it</a></li>
            <li><a href="#different-html-tab" data-toggle="tab">HTML</a></li>
            <li><a href="#different-js-tab" data-toggle="tab">JS</a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="different-form-tab">
                <form id="registerForm" class="form-horizontal">
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Username</label>
                        <div class="col-lg-5">
                            <input type="text" class="form-control" name="username" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-lg-3 control-label">Password</label>
                        <div class="col-lg-5">
                            <input type="password" class="form-control" name="password" />
                        </div>
                    </div>
                </form>
            </div>

            <div class="tab-pane" id="different-html-tab">
                <pre><code class="xml">&lt;form id="registerForm" class="form-horizontal">
    &lt;div class="form-group">
        &lt;label class="col-lg-3 control-label">Username&lt;/label>
        &lt;div class="col-lg-5">
            &lt;input type="text" class="form-control" name="username" />
        &lt;/div>
    &lt;/div>

    &lt;div class="form-group">
        &lt;label class="col-lg-3 control-label">Password&lt;/label>
        &lt;div class="col-lg-5">
            &lt;input type="password" class="form-control" name="password" />
        &lt;/div>
    &lt;/div>
&lt;/form></code></pre>
            </div>

            <div class="tab-pane" id="different-js-tab">
                <pre><code class="xml javascript">&lt;script>
$(document).ready(function() {
    $('#registerForm').bootstrapValidator({
        feedbackIcons: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
            username: {
                validators: {
                    <span class="doc-example-note">different: {
                        field: 'password',
                        message: 'The username and password cannot be the same as each other'
                    }</span>
                }
            },
            password: {
                validators: {
                    <span class="doc-example-note">different: {
                        field: 'username',
                        message: 'The password cannot be the same as username'
                    }</span>
                }
            }
        }
    });
});
&lt;/script></code></pre>
            </div>
        </div>
    </div>
</sectiom>

{% include related.html %}

<script>
$(document).ready(function() {
    $('#registerForm').bootstrapValidator({
        feedbackIcons: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
            username: {
                validators: {
                    different: {
                        field: 'password',
                        message: 'The username and password cannot be the same as each other'
                    }
                }
            },
            password: {
                validators: {
                    different: {
                        field: 'username',
                        message: 'The password cannot be the same as username'
                    }
                }
            }
        }
    });
});
</script>