---
layout:           default
title:            digits validator
permalink:        /validators/digits/
previous_section: /validators/different/
next_section:     /validators/ean/
comments:         true
related:
    - integer
    - numeric
---

<section class="doc-heading">
    <h1><a href="/validators/">Validators</a> / digits</h1>
    {% include edit-button.html %}
</section>

<section>
    <p>Return true if the value contains only digits.</p>

    <table class="table table-condensed">
        <thead>
            <tr>
                <th>Option</th>
                <th>Equivalent HTML attribute</th>
                <th>Type</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><code>message</code></td>
                <td><code>data-bv-digits-message</code></td>
                <td>String</td>
                <td>The error message</td>
            </tr>
        </tbody>
    </table>
</section>

{% include related.html %}
