---
layout:           default
title:            Validate file
permalink:        /validators/file/
previous_section: /validators/emailAddress/
next_section:     /validators/greaterThan/
comments:         true
---

<section class="doc-heading">
    <h1><a href="/validators/">Validators</a> / file</h1>
    {% include edit-button.html %}
</section>

<section>
    <p>Validate file.</p>

    <table class="table table-condensed">
        <thead>
            <tr>
                <th>Option</th>
                <th>Equivalent HTML attribute</th>
                <th>Type</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><code>message</code></td>
                <td><code>data-bv-file-message</code></td>
                <td>String</td>
                <td>The error message</td>
            </tr>
            <tr>
                <td><code>extension</code></td>
                <td><code>data-bv-file-extension</code></td>
                <td>String</td>
                <td>The allowed extensions, separated by a comma</td>
            </tr>
            <tr>
                <td><code>maxSize</code></td>
                <td><code>data-bv-file-maxsize</code></td>
                <td>Number</td>
                <td>The maximum file size in bytes</td>
            </tr>
            <tr>
                <td><code>type</code></td>
                <td><code>data-bv-file-type</code></td>
                <td>String</td>
                <td>
                    <p>The allowed MIME type, separated by a comma.</p>
                    <p>For example: Setting <code>image/jpeg,image/png,application/pdf</code> only allows to upload JPEG, PNG image and PDF document.</p>
                    <p>See <a href="#mime-types">popular MIME types</a> listed below.</p>
                </td>
            </tr>
        </tbody>
    </table>

    <p>The <code>maxSize</code> and <code>type</code> are only used if the browser supports HTML 5 File API.</p>
</section>

<section id="mime-types">
    <h2>Popular MIME types</h2>
    <p>The following table shows popular MIME types. For other MIME type, you can refer to the <a href="https://www.sitepoint.com/web-foundations/mime-types-complete-list/">complete list</a>.</p>

    <table class="table table-condensed">
        <thead>
            <tr>
                <th>MIME type</th>
                <th>File extensions</th>
            </tr>
        </thead>
        <tbody>
            {% for item in site.data.mime %}
            {% assign data = item | split: '|' %}
            <tr>
                <td>{{ data[0] }}</td>
                <td>{{ data[1] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</section>

<section id="example">
    <h2>Example</h2>

    <p>The following form allows to upload JPEG, PNG image which is smaller than 2 MB in size.</p>

    <div class="doc-example">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#file-form-tab" data-toggle="tab">Try it</a></li>
            <li><a href="#file-html-tab" data-toggle="tab">HTML</a></li>
            <li><a href="#file-js-tab" data-toggle="tab">JS</a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="file-form-tab">
                <form id="uploadForm" class="form-horizontal" enctype="multipart/form-data">
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Avatar</label>
                        <div class="col-lg-4">
                            <input type="file" class="form-control" name="avatar" />
                        </div>
                    </div>
                </form>
            </div>

            <div class="tab-pane" id="file-html-tab">
                <pre><code class="xml">&lt;form id="uploadForm" class="form-horizontal" <span class="doc-example-note">enctype="multipart/form-data"</span>>
    &lt;div class="form-group">
        &lt;label class="col-lg-3 control-label">Avatar&lt;/label>
        &lt;div class="col-lg-4">
            &lt;input type="file" class="form-control" name="avatar" />
        &lt;/div>
    &lt;/div>
&lt;/form></code></pre>
            </div>

            <div class="tab-pane" id="file-js-tab">
                <pre><code class="xml javascript">&lt;script>
$(document).ready(function() {
    $('#uploadForm').bootstrapValidator({
        feedbackIcons: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
            avatar: {
                validators: {
                    <span class="doc-example-note">file: {
                        extension: 'jpeg,png',
                        type: 'image/jpeg,image/png',
                        maxSize: 2048 * 1024,   // 2 MB
                        message: 'The selected file is not valid'
                    }</span>
                }
            }
        }
    });
});
&lt;/script></code></pre>
            </div>
        </div>
    </div>
</section>

{% include related.html %}

<script>
$(document).ready(function() {
    $('#uploadForm').bootstrapValidator({
        feedbackIcons: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
            avatar: {
                validators: {
                    file: {
                        extension: 'jpeg,png',
                        type: 'image/jpeg,image/png',
                        maxSize: 2048 * 1024,
                        message: 'The selected file is not valid'
                    }
                }
            }
        }
    });
});
</script>