---
layout:           default
title:            greaterThan validator
permalink:        /validators/greaterThan/
previous_section: /validators/file/
next_section:     /validators/grid/
comments:         true
related:
    - between
    - lessThan
---

<section class="doc-heading">
    <h1><a href="/validators/">Validators</a> / greaterThan</h1>
    {% include edit-button.html %}
</section>

<section>
    <p>Return true if the value is greater than or equals to given number.</p>
    
    <table class="table table-condensed">
        <thead>
            <tr>
                <th>Option</th>
                <th>Equivalent HTML attribute</th>
                <th>Type</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><code>message</code></td>
                <td><code>data-bv-greaterthan-message</code></td>
                <td>String</td>
                <td>The error message</td>
            </tr>
            <tr>
                <td><code>value</code> (*)</td>
                <td><code>data-bv-greaterthan-value</code></td>
                <td>Float</td>
                <td>The number to make a comparison to</td>
            </tr>
            <tr>
                <td><code>inclusive</code></td>
                <td><code>data-bv-greaterthan-inclusive</code></td>
                <td>Boolean</td>
                <td>Can be <code>true</code> or <code>false</code>.<br />If <code>true</code>, the input value must be greater than the comparison one.<br />If <code>false</code>, the input value must be greater than or equal to the comparison one</td>
            </tr>
        </tbody>
    </table>
</section>

{% include related.html %}
