---
layout:           default
title:            Validate a GRId (Global Release Identifier)
permalink:        /validators/grid/
previous_section: /validators/greaterThan/
next_section:     /validators/hex/
comments:         true
examples:         A12425GABC1234002M, A1-2425G-ABC1234002-M, A1 2425G ABC1234002 M, Grid:A1-2425G-ABC1234002-M, A1-2425G-ABC1234002-Q
related:
    - ismn
---

<section class="doc-heading">
    <h1><a href="/validators/">Validators</a> / grid</h1>
    {% include edit-button.html %}
</section>

<section>
    <p>Validate a GRId (Global Release Identifier).</p>

    <table class="table table-condensed">
        <thead>
            <tr>
                <th>Option</th>
                <th>Equivalent HTML attribute</th>
                <th>Type</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><code>message</code></td>
                <td><code>data-bv-grid-message</code></td>
                <td>String</td>
                <td>The error message</td>
            </tr>
        </tbody>
    </table>
</section>

<section id="example">
    <h2>Example</h2>

    <table class="table table-condensed">
        <thead>
            <tr>
                <th>GRId</th>
                <th>Result</th>
            </tr>
        </thead>
        <tbody>
            {% assign examples = page.examples | split: ', ' %}
            {% for grid in examples %}
            <tr>
                <td><a href="javascript: void(0);" class="sample">{{ grid }}</a></td>
                <td><i class="fa"></i></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="doc-example">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#grid-form-tab" data-toggle="tab">Try it</a></li>
            <li><a href="#grid-html-tab" data-toggle="tab">HTML</a></li>
            <li><a href="#grid-js-tab" data-toggle="tab">JS</a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="grid-form-tab">
                <form id="gridForm" class="form-horizontal">
                    <div class="form-group">
                        <label class="col-lg-3 control-label">GRId</label>
                        <div class="col-lg-5">
                            <input type="text" class="form-control" name="grid" />
                        </div>
                    </div>
                </form>
            </div>

            <div class="tab-pane" id="grid-html-tab">
                <pre><code class="xml">&lt;form id="gridForm" class="form-horizontal">
    &lt;div class="form-group">
        &lt;label class="col-lg-3 control-label">GRId&lt;/label>
        &lt;div class="col-lg-5">
            &lt;input type="text" class="form-control" name="grid" />
        &lt;/div>
    &lt;/div>
&lt;/form></code></pre>
            </div>

            <div class="tab-pane" id="grid-js-tab">
                <pre><code class="xml javascript">&lt;script>
$(document).ready(function() {
    $('#gridForm').bootstrapValidator({
        feedbackIcons: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
            grid: {
                validators: {
                    <span class="doc-example-note">grid: {
                        message: 'The value is not valid GRId'
                    }</span>
                }
            }
        }
    });
});
&lt;/script></code></pre>
            </div>
        </div>
    </div>
</section>

{% include related.html %}

<script>
$(document).ready(function() {
    $('.sample').on('click', function() {
        $('#gridForm')
            .find('input[name="grid"]')
                .val($(this).html())
                .end()
            .data('bootstrapValidator')
                .updateStatus('grid', 'NOT_VALIDATED')
                .validate();
        var isValid = $('#gridForm').data('bootstrapValidator').isValid();
        $(this)
            .parents('tr').find('i')
            .removeClass('fa-check fa-times')
            .addClass(isValid ? 'fa-check' : 'fa-times');
    });

    $('#gridForm').bootstrapValidator({
        feedbackIcons: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
            grid: {
                validators: {
                    grid: {
                        message: 'The value is not valid GRId'
                    }
                }
            }
        }
    });
});
</script>