---
layout:           default
title:            Validate a hexadecimal number
permalink:        /validators/hex/
previous_section: /validators/grid/
next_section:     /validators/hexColor/
comments:         true
related:
    - regexp
---

<section class="doc-heading">
    <h1><a href="/validators/">Validators</a> / hex</h1>
    {% include edit-button.html %}
</section>

<section>
    <p>Validate a hexadecimal number.</p>

    <table class="table table-condensed">
        <thead>
            <tr>
                <th>Option</th>
                <th>Equivalent HTML attribute</th>
                <th>Type</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><code>message</code></td>
                <td><code>data-bv-hex-message</code></td>
                <td>String</td>
                <td>The error message</td>
            </tr>
        </tbody>
    </table>
</section>

{% include related.html %}
