---
layout:           default
title:            Validate an International Bank Account Number (IBAN)
permalink:        /validators/iban/
previous_section: /validators/hexColor/
next_section:     /validators/id/
comments:         true
related:
    - creditCard
    - cvv
    - rtn
---

<section class="doc-heading">
    <h1><a href="/validators/">Validators</a> / iban</h1>
    {% include edit-button.html %}
</section>

<section>
    <p>Validate an International Bank Account Number (IBAN).</p>

    <table class="table table-condensed">
        <thead>
            <tr>
                <th>Option</th>
                <th>Equivalent HTML attribute</th>
                <th>Type</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><code>message</code></td>
                <td><code>data-bv-iban-message</code></td>
                <td>String</td>
                <td>The error message</td>
            </tr>
            <tr>
                <td><code>country</code></td>
                <td><code>data-bv-iban-country</code></td>
                <td>String</td>
                <td>A ISO 3166 country code</td>
            </tr>
        </tbody>
    </table>

    <p>If the <code>country</code> is not defined, it will be parsed from the IBAN number.</p>
    <p>The validator supports the following countries (sorted by the country code in alphabetical order):</p>

    <table class="table table-condensed">
        <thead>
            <tr>
                <th>No.</th>
                <th>Country</th>
                <th>Code</th>
                <th>Sample IBAN</th>
                <th>Result</th>
            </tr>
        </thead>
        <tbody>
            {% for item in site.data.iban %}
            {% assign data = item | split: '|' %}
            <tr>
                <td>{{ forloop.index }}</td>
                <td>{{ data[0] }}</td>
                <td>{{ data[1] }}</td>
                <td><a href="javascript: void(0);" class="sample">{{ data[2] }}</a></td>
                <td><i class="fa"></i></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</section>

<section id="example">
    <h2>Example</h2>

    <div class="doc-example">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#iban-form-tab" data-toggle="tab">Try it</a></li>
            <li><a href="#iban-html-tab" data-toggle="tab">HTML</a></li>
            <li><a href="#iban-js-tab" data-toggle="tab">JS</a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="iban-form-tab">
                <form id="ibanForm" class="form-horizontal">
                    <div class="form-group">
                        <label class="col-lg-3 control-label">IBAN</label>
                        <div class="col-lg-5">
                            <input type="text" class="form-control" name="iban" />
                        </div>
                    </div>
                </form>
            </div>

            <div class="tab-pane" id="iban-html-tab">
                <pre><code class="xml">&lt;form id="ibanForm" class="form-horizontal">
    &lt;div class="form-group">
        &lt;label class="col-lg-3 control-label">IBAN&lt;/label>
        &lt;div class="col-lg-5">
            &lt;input type="text" class="form-control" name="iban" />
        &lt;/div>
    &lt;/div>
&lt;/form></code></pre>
            </div>

            <div class="tab-pane" id="iban-js-tab">
                <pre><code class="xml javascript">&lt;script>
$(document).ready(function() {
    $('#ibanForm').bootstrapValidator({
        feedbackIcons: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
            iban: {
                validators: {
                    <span class="doc-example-note">iban: {
                        message: 'The value is not valid IBAN'
                    }</span>
                }
            }
        }
    });
});
&lt;/script></code></pre>
            </div>
        </div>
    </div>
</section>

{% include related.html %}

<script>
$(document).ready(function() {
    $('.sample').on('click', function() {
        $('#ibanForm')
            .find('input[name="iban"]')
                .val($(this).html())
                .end()
            .data('bootstrapValidator')
                .updateStatus('iban', 'NOT_VALIDATED')
                .validate();
        var isValid = $('#ibanForm').data('bootstrapValidator').isValid();
        $(this)
            .parents('tr').find('i')
            .removeClass('fa-check fa-times')
            .addClass(isValid ? 'fa-check' : 'fa-times');
    });

    $('#ibanForm').bootstrapValidator({
        feedbackIcons: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
            iban: {
                validators: {
                    iban: {
                        message: 'The value is not valid IBAN'
                    }
                }
            }
        }
    });
});
</script>