---
layout:           default
title:            Validate identification number
permalink:        /validators/id/
previous_section: /validators/iban/
next_section:     /validators/identical/
comments:         true
related:
    - vat
---

<section class="doc-heading">
    <h1><a href="/validators/">Validators</a> / id</h1>
    {% include edit-button.html %}
</section>

<section>
    <p>Validate identification number. Support 25 countries.</p>

    <table class="table table-condensed">
        <thead>
            <tr>
                <th>Option</th>
                <th>Equivalent HTML attribute</th>
                <th>Type</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><code>message</code></td>
                <td><code>data-bv-id-message</code></td>
                <td>String</td>
                <td>The error message</td>
            </tr>
            <tr>
                <td><code>country</code> (*)</td>
                <td><code>data-bv-id-country</code></td>
                <td>String</td>
                <td>A ISO 3166 country code</td>
            </tr>
        </tbody>
    </table>

     <p>The validator supports the following countries (click the sample number to validate it):</p>

    <table class="table table-condensed">
        <thead>
            <tr>
                <th>No.</th>
                <th>Country</th>
                <th>Abbreviation ID system</th>
                <th>Country code</th>
                <th>Example</th>
            </tr>
        </thead>
        <tbody>
            {% for item in site.data.id %}
            {% assign data = item | split: '|' %}
            <tr>
                <td>{{ forloop.index }}</td>
                <td>{{ data[0] }}</td>
                <td>{{ data[1] }}</td>
                <td>{{ data[2] }}</td>
                <td>
                    {% if data[3] %}
                    <ul class="docs-sample">
                        {% assign samples = data[3] | split: ',' %}
                        {% for sample in samples %}
                        <li><a href="javascript: void(0);" class="sample" data-country="{{ data[2] }}">{{ sample }}</a><i class="fa"></i></li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</section>

<section id="example">
    <h2>Example</h2>

    <div class="doc-example">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#id-form-tab" data-toggle="tab">Try it</a></li>
            <li><a href="#id-html-tab" data-toggle="tab">HTML</a></li>
            <li><a href="#id-js-tab" data-toggle="tab">JS</a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="id-form-tab">
                <form id="idForm" class="form-horizontal">
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Country</label>
                        <div class="col-lg-5">
                            <select class="form-control" name="country">
                            {% for item in site.data.id %}
                                {% assign data = item | split: '|' %}
                                <option value="{{ data[2] }}">{{ data[0] }}</option>
                            {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label">ID</label>
                        <div class="col-lg-5">
                            <input type="text" class="form-control" name="id" />
                        </div>
                    </div>
                </form>
            </div>

            <div class="tab-pane" id="id-html-tab">
                <pre><code class="xml">&lt;form id="idForm" class="form-horizontal">
    &lt;div class="form-group">
        &lt;label class="col-lg-3 control-label">Country&lt;/label>
        &lt;div class="col-lg-5">
            &lt;select class="form-control" name="country">{% for item in site.data.id %}
                {% assign data = item | split: '|' %}&lt;option value="{{ data[2] }}">{{ data[0] }}&lt;/option>{% endfor %}
            &lt;/select>
        &lt;/div>
    &lt;/div>

    &lt;div class="form-group">
        &lt;label class="col-lg-3 control-label">ID&lt;/label>
        &lt;div class="col-lg-5">
            &lt;input type="text" class="form-control" name="id" />
        &lt;/div>
    &lt;/div>
&lt;/form></code></pre>
            </div>

            <div class="tab-pane" id="id-js-tab">
                <pre><code class="xml javascript">&lt;script>{% assign data = site.data.id[0] | split: '|' %}
$(document).ready(function() {
    $('#idForm')
        .on('change', 'select[name="country"]', function() {
            // Set the country option
            <span class="doc-example-note">var validator = $('#idForm').data('bootstrapValidator');
            validator.options.fields['id'].validators.id.country = $(this).val();
            validator.updateStatus('id', 'NOT_VALIDATED');</span>
        })
        .bootstrapValidator({
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                id: {
                    validators: {
                        <span class="doc-example-note">id: {
                            country: '{{ data[2] }}',
                            message: 'The ID is not valid'
                        }</span>
                    }
                }
            }
        });
});
&lt;/script></code></pre>
            </div>
        </div>
    </div>
</section>

{% include related.html %}

<script>
$(document).ready(function() {
    $('.sample').on('click', function() {
        var validator = $('#idForm').data('bootstrapValidator'),
            country   = $(this).attr('data-country');

        $('#idForm')
            .find('select[name="country"]')
                .val(country)
                .end()
            .find('input[name="id"]')
                .val($(this).text());

        // Re-validate field
        validator.options.fields['id'].validators.id.country = country;
        validator.updateStatus('id', 'NOT_VALIDATED').validate();

        // Show the result
        var isValid = validator.isValid();
        $(this)
            .next()
                .removeClass('fa-check fa-times')
                .addClass(isValid ? 'fa-check' : 'fa-times')
                .show()
                .end();
    });

    {% assign data = site.data.id[0] | split: '|' %}
    $('#idForm')
        .on('change', 'select[name="country"]', function() {
            var validator = $('#idForm').data('bootstrapValidator');
            validator.options.fields['id'].validators.id.country = $(this).val();
            validator.updateStatus('id', 'NOT_VALIDATED');
        })
        .bootstrapValidator({
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                id: {
                    validators: {
                        id: {
                            country: '{{ data[2] }}',
                            message: 'The ID is not valid'
                        }
                    }
                }
            }
        });
});
</script>