---
layout:           default
title:            identical validator
permalink:        /validators/identical/
previous_section: /validators/id/
next_section:     /validators/imei/
comments:         true
related:
    - different
---

<section class="doc-heading">
    <h1><a href="/validators/">Validators</a> / identical</h1>
    {% include edit-button.html %}
</section>

<section>
    <p>Check if the value is the same as one of particular field.</p>

    <table class="table table-condensed">
        <thead>
            <tr>
                <th>Option</th>
                <th>Equivalent HTML attribute</th>
                <th>Type</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><code>message</code></td>
                <td><code>data-bv-identical-message</code></td>
                <td>String</td>
                <td>The error message</td>
            </tr>
            <tr>
                <td><code>field</code> (*)</td>
                <td><code>data-bv-identical-field</code></td>
                <td>String</td>
                <td>The name of field that will be used to compare with current one</td>
            </tr>
        </tbody>
    </table>
</section>

<section id="example">
    <h2>Example</h2>
    <p>The following form requires the password and confirmation one to be the same using <code>identical</code> validator.</p>

    <div class="doc-example">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#identical-form-tab" data-toggle="tab">Try it</a></li>
            <li><a href="#identical-html-tab" data-toggle="tab">HTML</a></li>
            <li><a href="#identical-js-tab" data-toggle="tab">JS</a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="identical-form-tab">
                <form id="registerForm" class="form-horizontal">
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Password</label>
                        <div class="col-lg-5">
                            <input type="password" class="form-control" name="password" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-lg-3 control-label">Retype password</label>
                        <div class="col-lg-5">
                            <input type="password" class="form-control" name="confirmPassword" />
                        </div>
                    </div>
                </form>
            </div>

            <div class="tab-pane" id="identical-html-tab">
                <pre><code class="xml">&lt;form id="registerForm" class="form-horizontal">
    &lt;div class="form-group">
        &lt;label class="col-lg-3 control-label">Password&lt;/label>
        &lt;div class="col-lg-5">
            &lt;input type="password" class="form-control" name="password" />
        &lt;/div>
    &lt;/div>

    &lt;div class="form-group">
        &lt;label class="col-lg-3 control-label">Retype password&lt;/label>
        &lt;div class="col-lg-5">
            &lt;input type="password" class="form-control" name="confirmPassword" />
        &lt;/div>
    &lt;/div>
&lt;/form></code></pre>
            </div>

            <div class="tab-pane" id="identical-js-tab">
                <pre><code class="xml javascript">&lt;script>
$(document).ready(function() {
    $('#registerForm').bootstrapValidator({
        feedbackIcons: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
            password: {
                validators: {
                    <span class="doc-example-note">identical: {
                        field: 'confirmPassword',
                        message: 'The password and its confirm are not the same'
                    }</span>
                }
            },
            confirmPassword: {
                validators: {
                    <span class="doc-example-note">identical: {
                        field: 'password',
                        message: 'The password and its confirm are not the same'
                    }</span>
                }
            }
        }
    });
});
&lt;/script></code></pre>
            </div>
        </div>
    </div>
</section>

{% include related.html %}

<script>
$(document).ready(function() {
    $('#registerForm').bootstrapValidator({
        feedbackIcons: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
            password: {
                validators: {
                    identical: {
                        field: 'confirmPassword',
                        message: 'The password and its confirm are not the same'
                    }
                }
            },
            confirmPassword: {
                validators: {
                    identical: {
                        field: 'password',
                        message: 'The password and its confirm are not the same'
                    }
                }
            }
        }
    });
});
</script>