---
layout:           default
title:            Validate an IP address
permalink:        /validators/ip/
previous_section: /validators/integer/
next_section:     /validators/isbn/
comments:         true
related:
    - mac
    - uri
---

<section class="doc-heading">
    <h1><a href="/validators/">Validators</a> / ip</h1>
    {% include edit-button.html %}
</section>

<section>
    <p>Validate an IP address. Support both IPv4 and IPv6.</p>

    <table class="table table-condensed">
        <thead>
            <tr>
                <th>Option</th>
                <th>Equivalent HTML attribute</th>
                <th>Type</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><code>message</code></td>
                <td><code>data-bv-ip-message</code></td>
                <td>String</td>
                <td>The error message</td>
            </tr>
            <tr>
                <td><code>ipv4</code></td>
                <td><code>data-bv-ip-ipv4</code></td>
                <td>Boolean</td>
                <td>Enable IPv4 validator, default to <code>true</code></td>
            </tr>
            <tr>
                <td><code>ipv6</code></td>
                <td><code>data-bv-ip-ipv6</code></td>
                <td>Boolean</td>
                <td>Enable IPv6 validator, default to <code>true</code></td>
            </tr>
        </tbody>
    </table>
</section>

{% include related.html %}
