---
layout:           default
title:            Validate an ISBN (International Standard Book Number)
permalink:        /validators/isbn/
previous_section: /validators/ip/
next_section:     /validators/isin/
comments:         true
examples:         9971502100, 99921-58-10-7, 960 425 059 0, 99921-58-10-6, 9780306406157, 978-0-306-40615-7, 978 0 306 40615 7, 978-0-306-40615-6
related:
    - ean
    - issn
---

<section class="doc-heading">
    <h1><a href="/validators/">Validators</a> / isbn</h1>
    {% include edit-button.html %}
</section>

<section>
    <p>Validate an ISBN (International Standard Book Number). Support both ISBN 10 and ISBN 13.</p>

    <table class="table table-condensed">
        <thead>
            <tr>
                <th>Option</th>
                <th>Equivalent HTML attribute</th>
                <th>Type</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><code>message</code></td>
                <td><code>data-bv-isbn-message</code></td>
                <td>String</td>
                <td>The error message</td>
            </tr>
        </tbody>
    </table>
</section>

<section id="example">
    <h2>Example</h2>

    <table class="table table-condensed">
        <thead>
            <tr>
                <th>ISBN</th>
                <th>Result</th>
            </tr>
        </thead>
        <tbody>
            {% assign examples = page.examples | split: ', ' %}
            {% for isbn in examples %}
            <tr>
                <td><a href="javascript: void(0);" class="sample">{{ isbn }}</a></td>
                <td><i class="fa"></i></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="doc-example">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#isbn-form-tab" data-toggle="tab">Try it</a></li>
            <li><a href="#isbn-html-tab" data-toggle="tab">HTML</a></li>
            <li><a href="#isbn-js-tab" data-toggle="tab">JS</a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="isbn-form-tab">
                <form id="isbnForm" class="form-horizontal">
                    <div class="form-group">
                        <label class="col-lg-3 control-label">ISBN</label>
                        <div class="col-lg-5">
                            <input type="text" class="form-control" name="isbn" />
                        </div>
                    </div>
                </form>
            </div>

            <div class="tab-pane" id="isbn-html-tab">
                <pre><code class="xml">&lt;form id="isbnForm" class="form-horizontal">
    &lt;div class="form-group">
        &lt;label class="col-lg-3 control-label">ISBN&lt;/label>
        &lt;div class="col-lg-5">
            &lt;input type="text" class="form-control" name="isbn" />
        &lt;/div>
    &lt;/div>
&lt;/form></code></pre>
            </div>

            <div class="tab-pane" id="isbn-js-tab">
                <pre><code class="xml javascript">&lt;script>
$(document).ready(function() {
    $('#isbnForm').bootstrapValidator({
        feedbackIcons: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
            isbn: {
                validators: {
                    <span class="doc-example-note">isbn: {
                        message: 'The value is not valid ISBN'
                    }</span>
                }
            }
        }
    });
});
&lt;/script></code></pre>
            </div>
        </div>
    </div>
</section>

{% include related.html %}

<script>
$(document).ready(function() {
    $('.sample').on('click', function() {
        $('#isbnForm')
            .find('input[name="isbn"]')
                .val($(this).html())
                .end()
            .data('bootstrapValidator')
                .updateStatus('isbn', 'NOT_VALIDATED')
                .validate();
        var isValid = $('#isbnForm').data('bootstrapValidator').isValid();
        $(this)
            .parents('tr').find('i')
            .removeClass('fa-check fa-times')
            .addClass(isValid ? 'fa-check' : 'fa-times');
    });

    $('#isbnForm').bootstrapValidator({
        feedbackIcons: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
            isbn: {
                validators: {
                    isbn: {
                        message: 'The value is not valid ISBN'
                    }
                }
            }
        }
    });
});
</script>
