---
layout:           default
title:            Validate an ISIN (International Securities Identification Number)
permalink:        /validators/isin/
previous_section: /validators/isbn/
next_section:     /validators/ismn/
comments:         true
examples:         US0378331005, AU0000XVGZA3, GB0002634946, US0378331004, AA0000XVGZA3
related:
    - cusip
    - sedol
---

<section class="doc-heading">
    <h1><a href="/validators/">Validators</a> / isin</h1>
    {% include edit-button.html %}
</section>

<section>
    <p>Validate an ISIN (International Securities Identification Number).</p>

    <table class="table table-condensed">
        <thead>
            <tr>
                <th>Option</th>
                <th>Equivalent HTML attribute</th>
                <th>Type</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><code>message</code></td>
                <td><code>data-bv-isin-message</code></td>
                <td>String</td>
                <td>The error message</td>
            </tr>
        </tbody>
    </table>
</section>

<section id="example">
    <h2>Example</h2>

    <table class="table table-condensed">
        <thead>
            <tr>
                <th>ISIN</th>
                <th>Result</th>
            </tr>
        </thead>
        <tbody>
            {% assign examples = page.examples | split: ', ' %}
            {% for sample in examples %}
            <tr>
                <td><a href="javascript: void(0);" class="sample">{{ sample }}</a></td>
                <td><i class="fa"></i></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="doc-example">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#isin-form-tab" data-toggle="tab">Try it</a></li>
            <li><a href="#isin-html-tab" data-toggle="tab">HTML</a></li>
            <li><a href="#isin-js-tab" data-toggle="tab">JS</a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="isin-form-tab">
                <form id="isinForm" class="form-horizontal">
                    <div class="form-group">
                        <label class="col-lg-3 control-label">ISIN</label>
                        <div class="col-lg-5">
                            <input type="text" class="form-control" name="isin" />
                        </div>
                    </div>
                </form>
            </div>

            <div class="tab-pane" id="isin-html-tab">
                <pre><code class="xml">&lt;form id="isinForm" class="form-horizontal">
    &lt;div class="form-group">
        &lt;label class="col-lg-3 control-label">ISIN&lt;/label>
        &lt;div class="col-lg-5">
            &lt;input type="text" class="form-control" name="isin" />
        &lt;/div>
    &lt;/div>
&lt;/form></code></pre>
            </div>

            <div class="tab-pane" id="isin-js-tab">
                <pre><code class="xml javascript">&lt;script>
$(document).ready(function() {
    $('#isinForm').bootstrapValidator({
        feedbackIcons: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
            isin: {
                validators: {
                    <span class="doc-example-note">isin: {
                        message: 'The value is not valid ISIN'
                    }</span>
                }
            }
        }
    });
});
&lt;/script></code></pre>
            </div>
        </div>
    </div>
</section>

{% include related.html %}

<script>
$(document).ready(function() {
    $('.sample').on('click', function() {
        $('#isinForm')
            .find('input[name="isin"]')
                .val($(this).html())
                .end()
            .data('bootstrapValidator')
                .updateStatus('isin', 'NOT_VALIDATED')
                .validate();
        var isValid = $('#isinForm').data('bootstrapValidator').isValid();
        $(this)
            .parents('tr').find('i')
            .removeClass('fa-check fa-times')
            .addClass(isValid ? 'fa-check' : 'fa-times');
    });

    $('#isinForm').bootstrapValidator({
        feedbackIcons: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
            isin: {
                validators: {
                    isin: {
                        message: 'The value is not valid ISIN'
                    }
                }
            }
        }
    });
});
</script>