---
layout:           default
title:            Validate an ISMN (International Standard Music Number)
permalink:        /validators/ismn/
previous_section: /validators/isin/
next_section:     /validators/issn/
comments:         true
examples:         M230671187, 979-0-0601-1561-5, 979 0 3452 4680 5, 9790060115615, 9790060115614
related:
    - grid
---

<section class="doc-heading">
    <h1><a href="/validators/">Validators</a> / ismn</h1>
    {% include edit-button.html %}
</section>

<section>
    <p>Validate an ISMN (International Standard Music Number).</p>

    <table class="table table-condensed">
        <thead>
            <tr>
                <th>Option</th>
                <th>Equivalent HTML attribute</th>
                <th>Type</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><code>message</code></td>
                <td><code>data-bv-ismn-message</code></td>
                <td>String</td>
                <td>The error message</td>
            </tr>
        </tbody>
    </table>
</section>

<section id="example">
    <h2>Example</h2>

    <table class="table table-condensed">
        <thead>
            <tr>
                <th>ISMN</th>
                <th>Result</th>
            </tr>
        </thead>
        <tbody>
            {% assign examples = page.examples | split: ', ' %}
            {% for ismn in examples %}
            <tr>
                <td><a href="javascript: void(0);" class="sample">{{ ismn }}</a></td>
                <td><i class="fa"></i></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="doc-example">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#ismn-form-tab" data-toggle="tab">Try it</a></li>
            <li><a href="#ismn-html-tab" data-toggle="tab">HTML</a></li>
            <li><a href="#ismn-js-tab" data-toggle="tab">JS</a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="ismn-form-tab">
                <form id="ismnForm" class="form-horizontal">
                    <div class="form-group">
                        <label class="col-lg-3 control-label">ISMN</label>
                        <div class="col-lg-5">
                            <input type="text" class="form-control" name="ismn" />
                        </div>
                    </div>
                </form>
            </div>

            <div class="tab-pane" id="ismn-html-tab">
                <pre><code class="xml">&lt;form id="ismnForm" class="form-horizontal">
    &lt;div class="form-group">
        &lt;label class="col-lg-3 control-label">ISMN&lt;/label>
        &lt;div class="col-lg-5">
            &lt;input type="text" class="form-control" name="ismn" />
        &lt;/div>
    &lt;/div>
&lt;/form></code></pre>
            </div>

            <div class="tab-pane" id="ismn-js-tab">
                <pre><code class="xml javascript">&lt;script>
$(document).ready(function() {
    $('#ismnForm').bootstrapValidator({
        feedbackIcons: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
            ismn: {
                validators: {
                    <span class="doc-example-note">ismn: {
                        message: 'The value is not valid ISMN'
                    }</span>
                }
            }
        }
    });
});
&lt;/script></code></pre>
            </div>
        </div>
    </div>
</section>

{% include related.html %}

<script>
$(document).ready(function() {
    $('.sample').on('click', function() {
        $('#ismnForm')
            .find('input[name="ismn"]')
                .val($(this).html())
                .end()
            .data('bootstrapValidator')
                .updateStatus('ismn', 'NOT_VALIDATED')
                .validate();
        var isValid = $('#ismnForm').data('bootstrapValidator').isValid();
        $(this)
            .parents('tr').find('i')
            .removeClass('fa-check fa-times')
            .addClass(isValid ? 'fa-check' : 'fa-times');
    });

    $('#ismnForm').bootstrapValidator({
        feedbackIcons: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
            ismn: {
                validators: {
                    ismn: {
                        message: 'The value is not valid ISMN'
                    }
                }
            }
        }
    });
});
</script>