---
layout:           default
title:            Validate an ISSN (International Standard Serial Number)
permalink:        /validators/issn/
previous_section: /validators/ismn/
next_section:     /validators/lessThan/
comments:         true
examples:         0378-5955, 0024-9319, 0032-1478, 0032-147X
related:
    - ean
    - isbn
---

<section class="doc-heading">
    <h1><a href="/validators/">Validators</a> / issn</h1>
    {% include edit-button.html %}
</section>

<section>
    <p>Validate an ISSN (International Standard Serial Number).</p>

    <table class="table table-condensed">
        <thead>
            <tr>
                <th>Option</th>
                <th>Equivalent HTML attribute</th>
                <th>Type</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><code>message</code></td>
                <td><code>data-bv-issn-message</code></td>
                <td>String</td>
                <td>The error message</td>
            </tr>
        </tbody>
    </table>
</section>

<section id="example">
    <h2>Example</h2>

    <table class="table table-condensed">
        <thead>
            <tr>
                <th>ISSN</th>
                <th>Result</th>
            </tr>
        </thead>
        <tbody>
            {% assign examples = page.examples | split: ', ' %}
            {% for issn in examples %}
            <tr>
                <td><a href="javascript: void(0);" class="sample">{{ issn }}</a></td>
                <td><i class="fa"></i></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="doc-example">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#issn-form-tab" data-toggle="tab">Try it</a></li>
            <li><a href="#issn-html-tab" data-toggle="tab">HTML</a></li>
            <li><a href="#issn-js-tab" data-toggle="tab">JS</a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="issn-form-tab">
                <form id="issnForm" class="form-horizontal">
                    <div class="form-group">
                        <label class="col-lg-3 control-label">ISSN</label>
                        <div class="col-lg-5">
                            <input type="text" class="form-control" name="issn" />
                        </div>
                    </div>
                </form>
            </div>

            <div class="tab-pane" id="issn-html-tab">
                <pre><code class="xml">&lt;form id="issnForm" class="form-horizontal">
    &lt;div class="form-group">
        &lt;label class="col-lg-3 control-label">ISSN&lt;/label>
        &lt;div class="col-lg-5">
            &lt;input type="text" class="form-control" name="issn" />
        &lt;/div>
    &lt;/div>
&lt;/form></code></pre>
            </div>

            <div class="tab-pane" id="issn-js-tab">
                <pre><code class="xml javascript">&lt;script>
$(document).ready(function() {
    $('#issnForm').bootstrapValidator({
        feedbackIcons: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
            issn: {
                validators: {
                    <span class="doc-example-note">issn: {
                        message: 'The value is not valid ISSN'
                    }</span>
                }
            }
        }
    });
});
&lt;/script></code></pre>
            </div>
        </div>
    </div>
</section>

{% include related.html %}

<script>
$(document).ready(function() {
    $('.sample').on('click', function() {
        $('#issnForm')
            .find('input[name="issn"]')
                .val($(this).html())
                .end()
            .data('bootstrapValidator')
                .updateStatus('issn', 'NOT_VALIDATED')
                .validate();
        var isValid = $('#issnForm').data('bootstrapValidator').isValid();
        $(this)
            .parents('tr').find('i')
            .removeClass('fa-check fa-times')
            .addClass(isValid ? 'fa-check' : 'fa-times');
    });

    $('#issnForm').bootstrapValidator({
        feedbackIcons: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
            issn: {
                validators: {
                    issn: {
                        message: 'The value is not valid ISSN'
                    }
                }
            }
        }
    });
});
</script>