---
layout:           default
title:            lessThan validator
permalink:        /validators/lessThan/
previous_section: /validators/issn/
next_section:     /validators/mac/
comments:         true
related:
    - between
    - greaterThan
---

<section class="doc-heading">
    <h1><a href="/validators/">Validators</a> / lessThan</h1>
    {% include edit-button.html %}
</section>

<section>
    <p>Return true if the value is less than or equals to given number.</p>

    <table class="table table-condensed">
        <thead>
            <tr>
                <th>Option</th>
                <th>Equivalent HTML attribute</th>
                <th>Type</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><code>message</code></td>
                <td><code>data-bv-lessthan-message</code></td>
                <td>String</td>
                <td>The error message</td>
            </tr>
            <tr>
                <td><code>value</code> (*)</td>
                <td><code>data-bv-lessthan-value</code></td>
                <td>Float</td>
                <td>The number to make a comparison to</td>
            </tr>
            <tr>
                <td><code>inclusive</code></td>
                <td><code>data-bv-lessthan-inclusive</code></td>
                <td>Boolean</td>
                <td>
                    Can be <code>true</code> or <code>false</code>.<br />
                    If <code>true</code>, the input value must be less than the comparison one.<br />
                    If <code>false</code>, the input value must be less than or equal to the comparison one
                </td>
            </tr>
        </tbody>
    </table>
</section>

{% include related.html %}
