---
layout:           default
title:            Validate a MAC address
permalink:        /validators/mac/
previous_section: /validators/lessThan/
next_section:     /validators/notEmpty/
comments:         true
related:
    - ip
    - uri
---

<section class="doc-heading">
    <h1><a href="/validators/">Validators</a> / mac</h1>
    {% include edit-button.html %}
</section>

<section>
    <p>Validate a MAC address.</p>

    <table class="table table-condensed">
        <thead>
            <tr>
                <th>Option</th>
                <th>Equivalent HTML attribute</th>
                <th>Type</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><code>message</code></td>
                <td><code>data-bv-mac-message</code></td>
                <td>String</td>
                <td>The error message</td>
            </tr>
        </tbody>
    </table>
</section>

{% include related.html %}
