---
layout:           default
title:            notEmpty validator
permalink:        /validators/notEmpty/
previous_section: /validators/mac/
next_section:     /validators/numeric/
comments:         true
related:
    - stringLength
---

<section class="doc-heading">
    <h1><a href="/validators/">Validators</a> / notEmpty</h1>
    {% include edit-button.html %}
</section>

<section>
    <p>Check if the value is empty.</p>

    <table class="table table-condensed">
        <thead>
            <tr>
                <th>Option</th>
                <th>Equivalent HTML attribute</th>
                <th>Type</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><code>message</code></td>
                <td><code>data-bv-notempty-message</code></td>
                <td>String</td>
                <td>The error message</td>
            </tr>
        </tbody>
    </table>

    <p>You can use HTML 5 <code>required</code> attribute to enabled the validator.</p>
</section>

<section id="example">
    <h2>Example</h2>
    <p>In the following form, user is asked to enter the full name which alphabetical characters and spaces only.</p>

    <div class="doc-example">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#notempty-form-tab" data-toggle="tab">Try it</a></li>
            <li><a href="#notempty-html-tab" data-toggle="tab">HTML</a></li>
            <li><a href="#notempty-js-tab" data-toggle="tab">JS</a></li>
            <li><a href="#notempty-html5-tab" data-toggle="tab">HTML 5</a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="notempty-form-tab">
                <form id="profileForm" class="form-horizontal">
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Full name</label>
                        <div class="col-lg-4">
                            <input type="text" class="form-control" name="fullName" />
                        </div>
                    </div>
                </form>
            </div>

            <div class="tab-pane" id="notempty-html-tab">
                <pre><code class="xml">&lt;form id="profileForm" class="form-horizontal">
    &lt;div class="form-group">
        &lt;label class="col-lg-3 control-label">Full name&lt;/label>
        &lt;div class="col-lg-4">
            &lt;input type="text" class="form-control" name="fullName" />
        &lt;/div>
    &lt;/div>
&lt;/form></code></pre>
            </div>

            <div class="tab-pane" id="notempty-js-tab">
                <pre><code class="xml javascript">&lt;script>
$(document).ready(function() {
    $('#profileForm').bootstrapValidator({
        feedbackIcons: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
            fullName: {
                validators: {
                    <span class="doc-example-note">notEmpty: {
                        message: 'The full name is required'
                    }</span>
                }
            }
        }
    });
});
&lt;/script></code></pre>
            </div>

            <div class="tab-pane" id="notempty-html5-tab">
                <pre><code class="xml">&lt;form id="profileForm" class="form-horizontal">
    &lt;div class="form-group">
        &lt;label class="col-lg-3 control-label">Full name&lt;/label>
        &lt;div class="col-lg-4">
            &lt;input type="text" class="form-control" name="fullName"
                <span class="doc-example-note">required data-bv-notempty-message="The full name is required"</span> />
        &lt;/div>
    &lt;/div>
&lt;/form></code></pre>
                <pre><code class="xml javascript">&lt;script>
$(document).ready(function() {
    $('#profileForm').bootstrapValidator({
        feedbackIcons: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        }
    });
});
&lt;/script></code></pre>
            </div>
        </div>
    </div>
</section>

{% include related.html %}

<script>
$(document).ready(function() {
    $('#profileForm').bootstrapValidator({
        feedbackIcons: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
            fullName: {
                validators: {
                    notEmpty: {
                        message: 'The full name is required'
                    }
                }
            }
        }
    });
});
</script>