---
layout:           default
title:            Validate a numeric number
permalink:        /validators/numeric/
previous_section: /validators/notEmpty/
next_section:     /validators/phone/
comments:         true
related:
    - digits
    - integer
---

<section class="doc-heading">
    <h1><a href="/validators/">Validators</a> / numeric</h1>
    {% include edit-button.html %}
</section>

<section>
    <p>Check if the value is numeric</p>

    <table class="table table-condensed">
        <thead>
            <tr>
                <th>Option</th>
                <th>Equivalent HTML attribute</th>
                <th>Type</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><code>message</code></td>
                <td><code>data-bv-numeric-message</code></td>
                <td>String</td>
                <td>The error message</td>
            </tr>
            <tr>
                <td><code>separator</code></td>
                <td><code>data-bv-numeric-separator</code></td>
                <td>String</td>
                <td>The decimal separator. Can be <code>.</code> (default) or <code>,</code></td>
            </tr>
        </tbody>
    </table>
</section>

{% include related.html %}
