---
layout:           default
title:            Validate a phone number
permalink:        /validators/phone/
previous_section: /validators/numeric/
next_section:     /validators/regexp/
comments:         true
related:
    - zipCode
---

<section class="doc-heading">
    <h1><a href="/validators/">Validators</a> / phone</h1>
    {% include edit-button.html %}
</section>

<section>
    <p>Validate a phone number by a country code.</p>

    <table class="table table-condensed">
        <thead>
            <tr>
                <th>Option</th>
                <th>Equivalent HTML attribute</th>
                <th>Type</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><code>message</code></td>
                <td><code>data-bv-phone-message</code></td>
                <td>String</td>
                <td>The error message</td>
            </tr>
            <tr>
                <td><code>country</code></td>
                <td><code>data-bv-phone-country</code></td>
                <td>String</td>
                <td>A ISO 3166 country code. Currently the validator supports United State (US) only.</td>
            </tr>
        </tbody>
    </table>
</section>

{% include related.html %}
