---
layout:           default
title:            Validate a RTN (Routing transit number)
permalink:        /validators/rtn/
previous_section: /validators/remote/
next_section:     /validators/sedol/
comments:         true
examples:         011103093, 067014822, 211274450, 211370545, 054001725, 011400071, 031201360, 026013673, 021302567, 053902197, 036001808, 011600033
related:
    - creditCard
    - cvv
    - iban
---

<section class="doc-heading">
    <h1><a href="/validators/">Validators</a> / rtn</h1>
    {% include edit-button.html %}
</section>

<section>
    <p>Validate a RTN (Routing transit number).</p>

    <table class="table table-condensed">
        <thead>
            <tr>
                <th>Option</th>
                <th>Equivalent HTML attribute</th>
                <th>Type</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><code>message</code></td>
                <td><code>data-bv-rtn-message</code></td>
                <td>String</td>
                <td>The error message</td>
            </tr>
        </tbody>
    </table>
</section>

<section id="example">
    <h2>Example</h2>

    <table class="table table-condensed">
        <thead>
            <tr>
                <th>RTN</th>
                <th>Result</th>
            </tr>
        </thead>
        <tbody>
            {% assign examples = page.examples | split: ', ' %}
            {% for sample in examples %}
            <tr>
                <td><a href="javascript: void(0);" class="sample">{{ sample }}</a></td>
                <td><i class="fa"></i></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="doc-example">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#rtn-form-tab" data-toggle="tab">Try it</a></li>
            <li><a href="#rtn-html-tab" data-toggle="tab">HTML</a></li>
            <li><a href="#rtn-js-tab" data-toggle="tab">JS</a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="rtn-form-tab">
                <form id="rtnForm" class="form-horizontal">
                    <div class="form-group">
                        <label class="col-lg-3 control-label">RTN</label>
                        <div class="col-lg-5">
                            <input type="text" class="form-control" name="rtn" />
                        </div>
                    </div>
                </form>
            </div>

            <div class="tab-pane" id="rtn-html-tab">
                <pre><code class="xml">&lt;form id="rtnForm" class="form-horizontal">
    &lt;div class="form-group">
        &lt;label class="col-lg-3 control-label">RTN&lt;/label>
        &lt;div class="col-lg-5">
            &lt;input type="text" class="form-control" name="rtn" />
        &lt;/div>
    &lt;/div>
&lt;/form></code></pre>
            </div>

            <div class="tab-pane" id="rtn-js-tab">
                <pre><code class="xml javascript">&lt;script>
$(document).ready(function() {
    $('#rtnForm').bootstrapValidator({
        feedbackIcons: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
            rtn: {
                validators: {
                    <span class="doc-example-note">rtn: {
                        message: 'The value is not valid RTN'
                    }</span>
                }
            }
        }
    });
});
&lt;/script></code></pre>
            </div>
        </div>
    </div>
</section>

{% include related.html %}

<script>
$(document).ready(function() {
    $('.sample').on('click', function() {
        $('#rtnForm')
            .find('input[name="rtn"]')
                .val($(this).html())
                .end()
            .data('bootstrapValidator')
                .updateStatus('rtn', 'NOT_VALIDATED')
                .validate();
        var isValid = $('#rtnForm').data('bootstrapValidator').isValid();
        $(this)
            .parents('tr').find('i')
            .removeClass('fa-check fa-times')
            .addClass(isValid ? 'fa-check' : 'fa-times');
    });

    $('#rtnForm').bootstrapValidator({
        feedbackIcons: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
            rtn: {
                validators: {
                    rtn: {
                        message: 'The value is not valid RTN'
                    }
                }
            }
        }
    });
});
</script>