---
layout:           default
title:            Validate a Siret number
permalink:        /validators/siret/
previous_section: /validators/siren/
next_section:     /validators/step/
comments:         true
related:
    - siren
---

<section class="doc-heading">
    <h1><a href="/validators/">Validators</a> / siret</h1>
    {% include edit-button.html %}
</section>

<section>
    <p>Validate a <a href="http://en.wikipedia.org/wiki/INSEE_code#SIREN_and_SIRET_codes">Siret</a> number.</p>

    <table class="table table-condensed">
        <thead>
            <tr>
                <th>Option</th>
                <th>Equivalent HTML attribute</th>
                <th>Type</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><code>message</code></td>
                <td><code>data-bv-siret-message</code></td>
                <td>String</td>
                <td>The error message</td>
            </tr>
        </tbody>
    </table>
</section>

{% include related.html %}
