---
layout:           default
title:            Validate a Siren number
permalink:        /validators/siren/
previous_section: /validators/sedol/
next_section:     /validators/siret/
comments:         true
related:
    - siret
---

<section class="doc-heading">
    <h1><a href="/validators/">Validators</a> / siren</h1>
    {% include edit-button.html %}
</section>

<section>
    <p>Validate a <a href="http://en.wikipedia.org/wiki/INSEE_code#SIREN_and_SIRET_codes">Siren</a> number.</p>

    <table class="table table-condensed">
        <thead>
            <tr>
                <th>Option</th>
                <th>Equivalent HTML attribute</th>
                <th>Type</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><code>message</code></td>
                <td><code>data-bv-siren-message</code></td>
                <td>String</td>
                <td>The error message</td>
            </tr>
        </tbody>
    </table>
</section>

{% include related.html %}
