---
layout:           default
title:            step validator
permalink:        /validators/step/
previous_section: /validators/siret/
next_section:     /validators/stringCase/
comments:         true
---

<section class="doc-heading">
    <h1><a href="/validators/">Validators</a> / step</h1>
    {% include edit-button.html %}
</section>

<section>
    <p>Check if the value is valid step one.</p>

    <table class="table table-condensed">
        <thead>
            <tr>
                <th>Option</th>
                <th>Equivalent HTML attribute</th>
                <th>Type</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><code>message</code></td>
                <td><code>data-bv-step-message</code></td>
                <td>String</td>
                <td>The error message</td>
            </tr>
            <tr>
                <td><code>baseValue</code></td>
                <td><code>data-bv-step-base</code></td>
                <td>Float</td>
                <td>The base value, default to 0</td>
            </tr>
            <tr>
                <td><code>step</code></td>
                <td><code>data-bv-step-step</code></td>
                <td>Float</td>
                <td>The step, default to 1</td>
            </tr>
        </tbody>
    </table>
</section>

{% include related.html %}
