---
layout:           default
title:            stringCase validator
permalink:        /validators/stringCase/
previous_section: /validators/step/
next_section:     /validators/stringLength/
comments:         true
---

<section class="doc-heading">
    <h1><a href="/validators/">Validators</a> / stringCase</h1>
    {% include edit-button.html %}
</section>

<section>
    <p>Check if a string is a lower or upper case one.</p>

    <table class="table table-condensed">
        <thead>
            <tr>
                <th>Option</th>
                <th>Equivalent HTML attribute</th>
                <th>Type</th>
                <th>Default</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><code>message</code></td>
                <td><code>data-bv-stringcase-message</code></td>
                <td>String</td>
                <td>n/a</td>
                <td>The error message</td>
            </tr>
            <tr>
                <td><code>case</code></td>
                <td><code>data-bv-stringcase-case</code></td>
                <td>String</td>
                <td><code>lower</code></td>
                <td>Can be <code>lower</code>, <code>upper</code></td>
            </tr>
        </tbody>
    </table>
</section>

<section id="example">
    <h2>Example</h2>
    <p>The following form asks user to enter a credit card holder in uppercase:</p>

    <div class="doc-example">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#stringcase-form-tab" data-toggle="tab">Try it</a></li>
            <li><a href="#stringcase-html-tab" data-toggle="tab">HTML</a></li>
            <li><a href="#stringcase-js-tab" data-toggle="tab">JS</a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="stringcase-form-tab">
                <form id="cardHolderForm" class="form-horizontal">
                    <div class="form-group">
                        <label class="col-lg-4 control-label">Credit card holder</label>
                        <div class="col-lg-4">
                            <input type="text" class="form-control" name="name" />
                        </div>
                    </div>
                </form>
            </div>

            <div class="tab-pane" id="stringcase-html-tab">
                <pre><code class="xml">&lt;form id="cardHolderForm" class="form-horizontal">
    &lt;div class="form-group">
        &lt;label class="col-lg-4 control-label">Credit card holder&lt;/label>
        &lt;div class="col-lg-4">
            &lt;input type="text" class="form-control" name="name" />
        &lt;/div>
    &lt;/div>
&lt;/form></code></pre>
            </div>

            <div class="tab-pane" id="stringcase-js-tab">
                <pre><code class="xml javascript">&lt;script>
$(document).ready(function() {
    $('#cardHolderForm').bootstrapValidator({
        feedbackIcons: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
            name: {
                validators: {
                    // Since case is a Javascript keyword,
                    // you should place it between quotes (like 'case' or "case")
                    // to make it work in all browsers
                    <span class="doc-example-note">stringCase: {
                        message: 'The card holder must be in uppercase',
                        'case': 'upper'
                    }</span>
                }
            }
        }
    });
});
&lt;/script></code></pre>
            </div>
        </div>
    </div>
</section>

{% include related.html %}

<script>
$(document).ready(function() {
    $('#cardHolderForm').bootstrapValidator({
        feedbackIcons: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
            name: {
                validators: {
                    stringCase: {
                        message: 'The card holder must be in uppercase',
                        'case': 'upper'
                    }
                }
            }
        }
    });
});
</script>