---
layout:           default
title:            Validate length of a string
permalink:        /validators/stringLength/
previous_section: /validators/stringCase/
next_section:     /validators/uri/
comments:         true
related:
    - notEmpty
---

<section class="doc-heading">
    <h1><a href="/validators/">Validators</a> / stringLength</h1>
    {% include edit-button.html %}
</section>

<section>
    <p>Validate the length of a string.</p>

    <table class="table table-condensed">
        <thead>
            <tr>
                <th>Option</th>
                <th>Equivalent HTML attribute</th>
                <th>Type</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><code>message</code></td>
                <td><code>data-bv-stringlength-message</code></td>
                <td>String</td>
                <td>The error message</td>
            </tr>
            <tr>
                <td><code>min</code></td>
                <td><code>data-bv-stringlength-min</code></td>
                <td>Number</td>
                <td>The minimum length</td>
            </tr>
            <tr>
                <td><code>max</code></td>
                <td><code>data-bv-stringlength-max</code> or <code>maxlength</code></td>
                <td>Number</td>
                <td>The maximum length</td>
            </tr>
        </tbody>
    </table>
    <p>At least one of <code>min</code> and <code>max</code> options is required.</p>
</section>

<section id="example">
    <h2>Example</h2>

    <p>In the following form, the <i>Full name</i> and <i>Bio</i> fields must be less than 80 and 200 characters respectively.</p>

    <div class="doc-example">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#stringlength-form-tab" data-toggle="tab">Try it</a></li>
            <li><a href="#stringlength-html-tab" data-toggle="tab">HTML</a></li>
            <li><a href="#stringlength-js-tab" data-toggle="tab">JS</a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="stringlength-form-tab">
                <form id="profileForm" class="form-horizontal">
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Full name</label>
                        <div class="col-lg-6">
                            <input type="text" class="form-control" name="fullName" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Bio</label>
                        <div class="col-lg-6">
                            <textarea rows="5" class="form-control" name="bio"></textarea>
                        </div>
                    </div>
                </form>
            </div>

            <div class="tab-pane" id="stringlength-html-tab">
                <pre><code class="xml">&lt;form id="profileForm" class="form-horizontal">
    &lt;div class="form-group">
        &lt;label class="col-lg-3 control-label">Full name&lt;/label>
        &lt;div class="col-lg-6">
            &lt;input type="text" class="form-control" name="fullName" />
        &lt;/div>
    &lt;/div>
    &lt;div class="form-group">
        &lt;label class="col-lg-3 control-label">Bio&lt;/label>
        &lt;div class="col-lg-6">
            &lt;textarea rows="5" class="form-control" name="bio">&lt;/textarea>
        &lt;/div>
    &lt;/div>
&lt;/form></code></pre>
            </div>

            <div class="tab-pane" id="stringlength-js-tab">
                <pre><code class="xml javascript">&lt;script>
$(document).ready(function() {
    $('#profileForm').bootstrapValidator({
        feedbackIcons: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
            fullName: {
                validators: {
                    <span class="doc-example-note">stringLength: {
                        max: 50,
                        message: 'The full name must be less than 50 characters'
                    }</span>
                }
            },
            bio: {
                validators: {
                    <span class="doc-example-note">stringLength: {
                        max: 250,
                        message: 'The bio must be less than 200 characters'
                    }</span>
                }
            }
        }
    });
});
&lt;/script></code></pre>
            </div>
        </div>
    </div>
</section>

{% include related.html %}

<script>
$(document).ready(function() {
    $('#profileForm').bootstrapValidator({
        feedbackIcons: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
            fullName: {
                validators: {
                    stringLength: {
                        max: 50,
                        message: 'The full name must be less than 50 characters'
                    }
                }
            },
            bio: {
                validators: {
                    stringLength: {
                        max: 250,
                        message: 'The bio must be less than 200 characters'
                    }
                }
            }
        }
    });
});
</script>