---
layout:           default
title:            Validate an URL address
permalink:        /validators/uri/
previous_section: /validators/stringLength/
next_section:     /validators/uuid/
comments:         true
related:
    - ip
    - mac
---

<section class="doc-heading">
    <h1><a href="/validators/">Validators</a> / uri</h1>
    {% include edit-button.html %}
</section>

<section>
    <p>Validate an URL address.</p>

    <table class="table table-condensed">
        <thead>
            <tr>
                <th>Option</th>
                <th>Equivalent HTML attribute</th>
                <th>Type</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><code>message</code></td>
                <td><code>data-bv-uri-message</code></td>
                <td>String</td>
                <td>The error message</td>
            </tr>
        </tbody>
    </table>

    <p>You can use <code>type="url"</code> attribute to enable this validator.</p>
</section>

<section id="example">
    <h2>Example</h2>

    <div class="doc-example">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#uri-form-tab" data-toggle="tab">Try it</a></li>
            <li><a href="#uri-html-tab" data-toggle="tab">HTML</a></li>
            <li><a href="#uri-js-tab" data-toggle="tab">JS</a></li>
            <li><a href="#uri-html5-tab" data-toggle="tab">HTML 5</a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="uri-form-tab">
                <form id="profileForm" class="form-horizontal">
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Your website</label>
                        <div class="col-lg-4">
                            <input type="text" class="form-control" name="website" />
                        </div>
                    </div>
                </form>
            </div>

            <div class="tab-pane" id="uri-html-tab">
                <pre><code class="xml">&lt;form id="profileForm" class="form-horizontal">
    &lt;div class="form-group">
        &lt;label class="col-lg-3 control-label">Your website&lt;/label>
        &lt;div class="col-lg-4">
            &lt;input type="text" class="form-control" name="website" />
        &lt;/div>
    &lt;/div>
&lt;/form></code></pre>
            </div>

            <div class="tab-pane" id="uri-js-tab">
                <pre><code class="xml javascript">&lt;script>
$(document).ready(function() {
    $('#profileForm').bootstrapValidator({
        feedbackIcons: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
            website: {
                validators: {
                    <span class="doc-example-note">uri: {
                        message: 'The website address is not valid'
                    }</span>
                }
            }
        }
    });
});
&lt;/script></code></pre>
            </div>

            <div class="tab-pane" id="uri-html5-tab">
                <pre><code class="xml">&lt;form id="profileForm" class="form-horizontal">
    &lt;div class="form-group">
        &lt;label class="col-lg-3 control-label">Your website&lt;/label>
        &lt;div class="col-lg-4">
            &lt;input class="form-control" name="website"
                <span class="doc-example-note">type="url" data-bv-uri-message="The website address is not valid"</span> />
        &lt;/div>
    &lt;/div>
&lt;/form></code></pre>
                <pre><code class="xml javascript">&lt;script>
$(document).ready(function() {
    $('#profileForm').bootstrapValidator({
        feedbackIcons: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        }
    });
});
&lt;/script></code></pre>
            </div>
        </div>
    </div>
</section>

{% include related.html %}

<script>
$(document).ready(function() {
    $('#profileForm').bootstrapValidator({
        feedbackIcons: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
            website: {
                validators: {
                    uri: {
                        message: 'The website address is not valid'
                    }
                }
            }
        }
    });
});
</script>