---
layout:           default
title:            Validate an UUID
permalink:        /validators/uuid/
previous_section: /validators/uri/
next_section:     /validators/vat/
comments:         true
related:
    - regexp
---

<section class="doc-heading">
    <h1><a href="/validators/">Validators</a> / uuid</h1>
    {% include edit-button.html %}
</section>

<section>
    <p>Validate an <a href="http://en.wikipedia.org/wiki/Universally_unique_identifier">UUID</a>, support v3, v4, v5</p>

    <table class="table table-condensed">
        <thead>
            <tr>
                <th>Option</th>
                <th>Equivalent HTML attribute</th>
                <th>Type</th>
                <th>Default</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><code>message</code></td>
                <td><code>data-bv-uuid-message</code></td>
                <td>String</td>
                <td>n/a</td>
                <td>The error message</td>
            </tr>
            <tr>
                <td><code>version</code></td>
                <td><code>data-bv-uuid-version</code></td>
                <td>String</td>
                <td><code>all</code></td>
                <td>The UUID version. Can be <code>3</code>, <code>4</code>, <code>5</code> or <code>all</code></td>
            </tr>
        </tbody>
    </table>
</section>

{% include related.html %}
