---
layout:           default
title:            Validate an US VIN (Vehicle Identification Number)
permalink:        /validators/vin/
previous_section: /validators/vat/
next_section:     /validators/zipCode/
comments:         true
examples:         1FAHP26W49G252740, 2FTRX07W53C371582, WP0CA29863U153381, JTMKF4DV5B5309254
---

<section class="doc-heading">
    <h1><a href="/validators/">Validators</a> / vin</h1>
    {% include edit-button.html %}
</section>

<section>
    <p>Validate an US VIN (Vehicle Identification Number).</p>

    <table class="table table-condensed">
        <thead>
            <tr>
                <th>Option</th>
                <th>Equivalent HTML attribute</th>
                <th>Type</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><code>message</code></td>
                <td><code>data-bv-vin-message</code></td>
                <td>String</td>
                <td>The error message</td>
            </tr>
        </tbody>
    </table>
</section>

<section id="example">
    <h2>Example</h2>

    <table class="table table-condensed">
        <thead>
            <tr>
                <th>VIN</th>
                <th>Result</th>
            </tr>
        </thead>
        <tbody>
            {% assign examples = page.examples | split: ', ' %}
            {% for vin in examples %}
            <tr>
                <td><a href="javascript: void(0);" class="sample">{{ vin }}</a></td>
                <td><i class="fa"></i></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <p class="doc-box-info"><a href="http://randomvin.com/">http://randomvin.com</a> helps you generate a random vin.</p>

    <div class="doc-example">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#vin-form-tab" data-toggle="tab">Try it</a></li>
            <li><a href="#vin-html-tab" data-toggle="tab">HTML</a></li>
            <li><a href="#vin-js-tab" data-toggle="tab">JS</a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="vin-form-tab">
                <form id="vinForm" class="form-horizontal">
                    <div class="form-group">
                        <label class="col-lg-3 control-label">VIN</label>
                        <div class="col-lg-5">
                            <input type="text" class="form-control" name="vin" />
                        </div>
                    </div>
                </form>
            </div>

            <div class="tab-pane" id="vin-html-tab">
                <pre><code class="xml">&lt;form id="vinForm" class="form-horizontal">
    &lt;div class="form-group">
        &lt;label class="col-lg-3 control-label">VIN&lt;/label>
        &lt;div class="col-lg-5">
            &lt;input type="text" class="form-control" name="vin" />
        &lt;/div>
    &lt;/div>
&lt;/form></code></pre>
            </div>

            <div class="tab-pane" id="vin-js-tab">
                <pre><code class="xml javascript">&lt;script>
$(document).ready(function() {
    $('#vinForm').bootstrapValidator({
        feedbackIcons: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
            vin: {
                validators: {
                    <span class="doc-example-note">vin: {
                        message: 'The VIN number is not valid'
                    }</span>
                }
            }
        }
    });
});
&lt;/script></code></pre>
            </div>
        </div>
    </div>
</section>

{% include related.html %}

<script>
$(document).ready(function() {
    $('.sample').on('click', function() {
        $('#vinForm')
            .find('input[name="vin"]')
                .val($(this).html())
                .end()
            .data('bootstrapValidator')
                .updateStatus('vin', 'NOT_VALIDATED')
                .validate();
        var isValid = $('#vinForm').data('bootstrapValidator').isValid();
        $(this)
            .parents('tr').find('i')
            .removeClass('fa-check fa-times')
            .addClass(isValid ? 'fa-check' : 'fa-times');
    });

    $('#vinForm').bootstrapValidator({
        feedbackIcons: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
            vin: {
                validators: {
                    vin: {
                        message: 'The VIN number is not valid'
                    }
                }
            }
        }
    });
});
</script>