---
layout:           default
title:            Validate a zip code
permalink:        /validators/zipCode/
previous_section: /validators/vin/
comments:         true
examples:         EC1A 1BB, W1A 1HQ, M1 1AA, B33 8TH, CR2 6XH, DN55 1PT, AI-2640, ASCN 1ZZ, GIR 0AA
related:
    - phone
---

<section class="doc-heading">
    <h1><a href="/validators/">Validators</a> / zipCode</h1>
    {% include edit-button.html %}
</section>

<section>
    <p>Validate a zip code by a country code.</p>

    <table class="table table-condensed">
        <thead>
            <tr>
                <th>Option</th>
                <th>Equivalent HTML attribute</th>
                <th>Type</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><code>message</code></td>
                <td><code>data-bv-zipcode-message</code></td>
                <td>String</td>
                <td>The error message</td>
            </tr>
            <tr>
                <td><code>country</code></td>
                <td><code>data-bv-zipcode-country</code></td>
                <td>String</td>
                <td>A ISO 3166 country code</td>
            </tr>
        </tbody>
    </table>

    <p>Currently, the validator supports the following countries:</p>

    <table class="table table-condensed">
        <thead>
            <tr>
                <th>Country</th>
                <th>Code</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>United State</td>
                <td>US <label class="label label-info">default</label></td>
            </tr>
            <tr>
                <td>Canada</td>
                <td>CA</td>
            </tr>
            <tr>
                <td>Denmark</td>
                <td>DK</td>
            </tr>
            <tr>
                <td>Italy</td>
                <td>IT</td>
            </tr>
            <tr>
                <td>Netherlands</td>
                <td>NL</td>
            </tr>
            <tr>
                <td>Sweden</td>
                <td>SE</td>
            </tr>
            <tr>
                <td>United Kingdom</td>
                <td>GB</td>
            </tr>
        </tbody>
    </table>
</section>

<section id="example">
    <h2>Example</h2>

    <table class="table table-condensed">
        <thead>
            <tr>
                <th>UK Postcode</th>
                <th>Result</th>
            </tr>
        </thead>
        <tbody>
            {% assign examples = page.examples | split: ', ' %}
            {% for postCode in examples %}
            <tr>
                <td><a href="javascript: void(0);" class="sample">{{ postCode }}</a></td>
                <td><i class="fa"></i></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="doc-example">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#postcode-form-tab" data-toggle="tab">Try it</a></li>
            <li><a href="#postcode-html-tab" data-toggle="tab">HTML</a></li>
            <li><a href="#postcode-js-tab" data-toggle="tab">JS</a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="postcode-form-tab">
                <form id="postcodeForm" class="form-horizontal">
                    <div class="form-group">
                        <label class="col-lg-3 control-label">UK postcode</label>
                        <div class="col-lg-5">
                            <input type="text" class="form-control" name="postcode" />
                        </div>
                    </div>
                </form>
            </div>

            <div class="tab-pane" id="postcode-html-tab">
                <pre><code class="xml">&lt;form id="postcodeForm" class="form-horizontal">
    &lt;div class="form-group">
        &lt;label class="col-lg-3 control-label">UK postcode&lt;/label>
        &lt;div class="col-lg-5">
            &lt;input type="text" class="form-control" name="postcode" />
        &lt;/div>
    &lt;/div>
&lt;/form></code></pre>
            </div>

            <div class="tab-pane" id="postcode-js-tab">
                <pre><code class="xml javascript">&lt;script>
$(document).ready(function() {
    $('#postcodeForm').bootstrapValidator({
        feedbackIcons: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
            postcode: {
                validators: {
                    <span class="doc-example-note">zipCode: {
                        country: 'GB',
                        message: 'The value is not valid UK postcode'
                    }</span>
                }
            }
        }
    });
});
&lt;/script></code></pre>
            </div>
        </div>
    </div>
</section>

{% include related.html %}

<script>
$(document).ready(function() {
    $('.sample').on('click', function() {
        $('#postcodeForm')
            .find('input[name="postcode"]')
                .val($(this).html())
                .end()
            .data('bootstrapValidator')
                .updateStatus('postcode', 'NOT_VALIDATED')
                .validate();
        var isValid = $('#postcodeForm').data('bootstrapValidator').isValid();
        $(this)
            .parents('tr').find('i')
            .removeClass('fa-check fa-times')
            .addClass(isValid ? 'fa-check' : 'fa-times');
    });

    $('#postcodeForm').bootstrapValidator({
        feedbackIcons: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
            postcode: {
                validators: {
                    zipCode: {
                        country: 'GB',
                        message: 'The value is not valid UK postcode'
                    }
                }
            }
        }
    });
});
</script>